.order-input-fullrow{
    width: 100%;
    float: left;
    padding: 8px 0;
    box-sizing: border-box;
}

.order-input-tarea{
    width: 100%;
	height:90px;
    box-sizing: border-box;
    resize: none;
}

.order-in-text {
    padding: 4px 6px;
    border: none;
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;

    border-radius: 3px;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    color: #444;
    text-indent: 3px;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
}

.order-sub-title{
    float: left;
    width: 100%;
    padding: 10px;
}

.form_vacancy_submit {
    width: 100%;
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    font: inherit;
    color: #444;
    text-transform: none;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f7f7f7;
    vertical-align: middle;
    line-height: 32px;
    min-height: 34px;
    font-size: inherit;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
}

.error__block{
	position:relative;
	height:0;
	overflow:hidden;
	transition: height .3s;
}

.error__block-text{
    position: relative;
    padding: 3px 10px;
    font-size: 12px;
    background-color: #ee4055;
    color: #fff;	
}

.error .error__block{
	
	height:20px;
}

	.form_vacancy_submit.disabled{
	
		background-image: none;
		background-color:#ccc;
	}