.auto__item-cell-important._price._hidden {
	display: none;
}
.auto__item-cell-important._price.show {
	display: block;
}
.auto__item-cell._price .auto__item-cell-important:not(._rub):after{
	content: none;
}
.auto-form .sod_select .sod_option{
	padding-left: 0;
}
div#commis-layer{
	padding-top:35px;
	background: url('/local/assets/img/_MG_8151_(5).jpg') ;
	background-size:cover;
}
.back-list{
	overflow: hidden;
	background: rgba(255,255,255,0.85);
	padding: 5px 10px;
    border-radius: 7px;
}
#trailer{
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:120%;
	height:100%;
	display:none;
}
.video-bg-layer{
	position:absolute;
	background: rgba(0,0,0,0.3);
	width:100%;
	top:0;
	left:0;
	bottom:0;
	display:none;
	height: 280%;
}
@media screen and (min-width: 1200px){
	#trailer{
		display:block !important;
	}
	.title-vopros{color:#fff !important;}
	.accordeon_slide, .vopros-block h2{color:#fff !important;}
	.video-bg-layer{display:block;}
	
}
.autocreditovanie .offers-list__item {
    font-size: 0;
    z-index: 5;
}
.auto__header-item._active ._asc .auto__header-item-link:before{
	background-image: url('../img/svg-sprite/filter-active-min.svg');
    background-position: 0px 0px;
}
.full-form__item._power{
	padding-bottom: 5px;
}
.pagination__list-item._active .pagination__list-item-link{
	pointer-events: none;
}
.pagination__list-item._active:hover .pagination__list-item-link{
	color: #fff;
}
._contacts ._phone a{
    text-decoration: none;
    color: #2c2c2c;
}
.sidebar__list-item-link._disabled{
	cursor: not-allowed;
    opacity: .6;
}
/*
.links__list{
	padding-bottom: 40px;
}*/
.info .info__tel{
    margin-bottom: 10px;
}


/*пока в footer'е не все меню =| */
@media screen and (max-width: 1024px) and (min-width: 320px){
	.page__main-wrapper._links{
		padding-bottom: 0;
	}
	.links__list{
	    /*min-height: 105px;*/
		margin-bottom: 20px;	
	}
}





@media screen and (max-width: 659px) and (min-width: 320px){ 
	/*.item__right {
		padding-top: 25px;
	}*/
	div#commis-layer{
		padding-top:15px;
	}
	
	/*"добавить в избранное в адаптивке"*/
	.info__title:before{
		content: none;
	}
}
