
.insure__wrap {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    /*padding-bottom: 40px;*/
    font-size: 15px;
    box-sizing: border-box;
	overflow: hidden;
}
.insure-title {
    font: 36px/39px 'RobotoLight', Helvetica, Arial, sans-serif;
	padding: 30px 0 10px 0;
}

h1 {
    font: 34px/36px 'RobotoLight', Helvetica, Arial, sans-serif;
	padding-top:0!important;
}

.insure-subtitle{
    margin-bottom: 20px;
    padding: 0 10px 0 0;	
}	

.insure-subtitle h2 {
	font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    padding: 50px 0 0;

}

.insure__col-left{
    float: left;
    width: 50%;
}

.insure__col-right{
    float: right;
    width: 50%;
}

.insure-text {
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}
.insure-text p{
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
.insure__info-btns{margin-top: 0px;}

.insure-btns__item{    
	display: inline-block;
	vertical-align: top;
	margin-right: 16px;
	padding: 8px 15px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	}

.insure__info-btns .insure-btns__item:last-child{
	margin-right: 0;
}
	
.insure__col-right.insure-text{padding-left:20px;}
.insure__col-left.insure-text{padding-right:20px;}



.insure-btn {
    width: 288px;
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    background: #4790c6;
    padding: 12px 20px 12px 54px;
    cursor: pointer;
    border: 0;
    text-decoration: none;	
	text-align: center;
	box-sizing: border-box;	
}


.insure-btn:before {
    content: '';
    width: 31px;
    height: 27px;
    background: url(../img/offers-btns.png);
    position: absolute;
    left: 16px;
    top: 10px;
    background-position: 0 0;
}
.insure-btn:hover{
    background-color: #db1c26;
}

.insure__colorChange{color: #ff0000;text-decoration: underline;}
.insure__link-red{color: #ff0000;}
.insure__link{
	display: inline-block;
    font: 14px/16px 'RobotoLight', Helvetica, Arial, sans-serif;    
    text-decoration: none;
	margin-bottom:20px;
	box-sizing: border-box;	
}

.insure__link:after {
    content: "→";
    display: inline-block;
    width: 26px;
    line-height: 25px;
    position: relative;
    left: 3px;
    font-weight: bold;
}


.insure__banner{
	margin-top: -40px; 
	background-size:cover; 
	color:white; 
	min-height:585px;
	
}
.banner-col{
    width: 50%;
	margin-top: 30px;
    box-sizing: border-box;
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;

}
.banner-col p{
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
}

/* ################################### */
@media screen and (max-width: 1160px){
	.insure__wrap {max-width: 80%;}
	.insure-banner{margin-top:70px;}
}

@media screen and (max-width: 1000px){

	.insure-btn {width:100%;}
	.banner-col {width: 70%;box-sizing: border-box;}	
}

@media screen and (max-width: 768px){

	.insure__col-left{
		float: left;
		width: 100%;
	}

	.insure__col-right{
		float: right;
		width: 100%;
	}
	.insure-btn {
		width: 288px;
	}
	.insure__col-left.insure-text{padding:0}
	.insure__col-right.insure-text{padding:0}
	.insure-img{border:solid 1px #ccc;box-sizing: border-box;}
	
	.banner-col {
		width: 70%;
		box-sizing: border-box;
	}	
	.insure__banner{
		background-position: -484px 0px;
	}
	.banner-col {
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
		background-color: rgba(0,0,0,.8);
		border-radius: 4px;
		
	}
	.insure__colorChange{color:#fff;text-decoration:underline;}	
}

@media screen and (max-width: 640px){

	.insure__banner{background-position: -630px 0px;}
	.banner-col{margin-top:50px;}
}

@media screen and (max-width: 480px){
	.insure__banner{background-position: 420px 0px;}
	h1 {padding-top: 0px!important;}
	.insure-subtitle h2{font: 26px/38px 'RobotoLight', Helvetica, Arial, sans-serif;}
	
	.insure__wrap {max-width: 90%;}	
	.insure-btn {width: 100%;}
	.insure-btns__item{margin-right: 8px;}
	.banner-col{margin-top:30px;}
	.banner-col p{font-size: 14px;}
	.insure-btns__item{
		padding: 8px 12px;
		font-size: 14px;
	}
	
}