.fav__help{
    width: 500px;
	padding:20px 15px!important;
	box-sizing:border-box;
}


.fav-help__header {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
}

.fav-help__logo {
    max-width: 50%;
    box-sizing: border-box;
    vertical-align: top;
}

.fav-help__html{
	
    padding: 20px 20px 40px 20px;
    font: 16px/36px 'RobotoLight', Helvetica, Arial, sans-serif;	
}

.fav__star{
    display: inline-block;
    position: relative;
    padding-left: 50px;
}

.fav__star::before{
	content: '';
	width: 30px;
	height: 30px;
	display: inline-block;
	background-image: url(/local/assets/img/svg-sprite/star-inactive.svg);
	background-repeat: no-repeat;
	position: absolute;
	left: 14px;
	top: 0;
	bottom: 0;
	margin: auto;
	
}

.fav-help__nav{
	display:inline-block;
	width:100%;
	text-align:center;
}

.fav-help__submit {
  
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    font: inherit;
    color: #444;
    text-transform: none;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f7f7f7;
    vertical-align: middle;
    line-height: 32px;
    min-height: 34px;
    font-size: inherit;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
}

@media screen and (max-width: 640px){
	.fav__help{
		width: 470px;
		padding:20px 15px!important;
		box-sizing:border-box;
	}
	
	.fav-help__html{
		
		padding: 20px 20px 40px 20px;
	
	}
	
}

@media screen and (max-width: 480px){
	.fav__help{
		width: 320px;
		padding:20px 15px!important;
		box-sizing:border-box;
	}
	
	.fav-help__html{
		
		padding: 20px 0px 40px 0px;
	
	}
	
}

@media screen and (max-width: 360px){
	.fav__help{
		width: 300px;
		padding:20px 15px!important;
		box-sizing:border-box;
	}
	
	.fav-help__html{
		
		padding: 20px 0px 40px 0px;
	
	}
	
}