/*temp*/
.form_buy_callback{
    display:none;
    position:fixed;
   /* top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:240px;*/
    width:430px;
    margin:auto;
	background-color: #fff!important;
    z-index:25;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
}

.form_buy_callback__head{
    position: relative;
    display: inline-block;
    width: 100%;
	padding:20px 20px 0 20px;
    background-color: #fff;
    color: #fff;
    font-size: 18px;
}

.form_buy_callback_logo{
    max-width: 50%; 
    box-sizing: border-box;
    vertical-align: top;
}

.form_buy_callback__title{
    font-size: 25px;
    color: #000;
    padding-top: 20px;	
}