*:focus {
    outline: none;
}

.offers-list__item-action-link{box-sizing: content-box;}

.webform__wrap{
    padding: 0px 0 40px;
    font-size: 0;
    position: relative;
    max-width: 940px;
    margin: 10px auto 0 auto;
    overflow: hidden;
    text-align:center;    
}

.webform__buttom{

    font: inherit;
    color: #444;
    display: inline-block;
    -moz-box-sizing: border-box;
    padding: 5px 12px;
    background: #f7f7f7;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
}


.orderForm{
    display:none;
	overflow:visible!important;
    max-width:400px;
	padding:10px!important;

}

.modalForm__head{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: #d83f47;
    color: #fff;
    font-size: 18px;
}
/*
.modalForm__logo{
    width: 100%;
    padding: 8% 26% 2% 26%;
    box-sizing: border-box;
}
*/
.modalForm__header{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    /*background-color: #fff;*/
    color: #fff;
    font-size: 18px;
}
.modalForm__headerLogo{
    max-width: 50%; 
    box-sizing: border-box;
    vertical-align: top;
}

    .titleFormType{        
        text-align: left;
        display: inline-block;
        width: 100%;
    }

    .cancel-white{background-image:url(/local/assets/img/cancel.svg);}
    .cancel-red{background-image:url(/local/assets/img/cancel-red.svg);}
	
    .modalForm__eventCancel:hover{
		opacity:.5;
		
	}  
	
.modalForm__body{
    display: inline-block;
    width: 100%;
    line-height: 51px;
    text-align: center;
    padding: 0 10%;
    box-sizing: border-box;
}

    .modalForm__body strong{
    display: inline-block;
    width: 100%;

    font: 24px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
    }
    
    .modalForm__body span{
    display: inline-block;
    width: 100%;
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;

    }

    .modalForm__row-buttons{
        float: left; 
        width: 35%;
		padding-left:10px;
        box-sizing:border-box;
     }
    
    .modalForm__row-wrap{
        float: right;
        width: 60%;
        box-sizing:border-box;
    }
    
    .modalForm__row-buttontitle{
    font-size: 18px;
    padding: 10px 10px 0;
	    color: #868484;
        
    }
    
    .modalForm__row-title{
    font-size: 18px;
    padding: 10px 10px 0;   
            color: #868484;
    }
    
    .order-form{
    padding: 10px;
	overflow:hidden;
    }
    

.order-input-row {
    width: 50%;
    float: left;
}
.order-input-row-center{text-align:center;}
.order-input {
    position: relative;
    padding: 10px 0;
}

.order-box{
	border-radius: 4px;
	text-shadow: 0 1px 0 #fff;
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
}

.order-input-fullrow{
    width: 100%;
    float: left;
    padding: 8px 0;
    box-sizing: border-box;
}

.order-input-tarea{
    width: 100%;
    box-sizing: border-box;
    resize: none;
	height:90px;
}

.order-in-text {
    padding: 4px 6px;
    border: none;
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;

    border-radius: 3px;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    color: #444;
    text-indent: 3px;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
}

.order-sub-title{
    float: left;
    width: 100%;
    padding: 10px;
}


.modalform__shadow{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: .2;
}

.sod_select .sod_list_wrapper{width:242px!important;}
.order-input-fullrow label{
	
	transition:all .3s;
}

label.error {

	font-size: 10px;
	color: #fff;

	width: 100%;
	display: inline-block;
	left: 0;
	background-color: #ee4055;
	padding: 5px;
	box-sizing: border-box;
}

div[id^="wait_comp_"]{display:none;}

.edata{font-size:15px;}

.winCallback{
    display:none;
    position:fixed;
    width:430px;
    margin:auto;
	background-color: #fff!important;
    z-index:25;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
}


	.order-form button{
		width: 100%;
		-webkit-appearance: none;
		margin: 0;
		overflow: visible;
		font: inherit;
		color: #444;
		text-transform: none;
		display: inline-block;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 12px;
		background: #f7f7f7;
		vertical-align: middle;
		line-height: 32px;
		min-height: 34px;
		font-size: inherit;
		text-decoration: none;
		text-align: center;
		border: 1px solid rgba(0, 0, 0, .2);
		border-bottom-color: rgba(0, 0, 0, .3);
		background-origin: border-box;
		background-image: -webkit-linear-gradient(top, #fff, #eee);
		background-image: linear-gradient(to bottom, #fff, #eee);
		border-radius: 4px;
		text-shadow: 0 1px 0 #fff;
		
	}
	
	.order-form button.disabled{
	
		background-image: none;
		background-color:#ccc;
	}
	
	
	@media only screen and (max-width:550px) {
		
        body.myWin{position:fixed;overflow:hidden}
        
        .winCallback{width:90%;}
        
		.modalForm{
			
			width:100%;
			height:100%;
			z-index:105;
		}

		.modalForm__row-buttons {

			width: 100%;
			padding-left: 5%;
			padding-right: 5%;

		}
		
		.modalForm__row-wrap {
			width: 100%;
			margin-top: 40px;
			padding-left: 5%;
			padding-right: 5%;
		}
        
        .order-form {
            float:left;
            height:auto;
            padding: 10px;
            overflow-x: hidden;
            overflow-y: auto;
            box-sizing: border-box;
        }   
		
	}
    
    input.error{border:solid 1px #ff0000;}
    
	@media only screen and (max-width:480px) {
        .modalForm__header{padding: 10px 0;}
        .order-input {font-size: 12px;}
        .order-input-fullrow {font-size: 12px;}
    }   
	
