.subForm{
    width: 550px;
	padding:20px 15px!important;
	box-sizing:border-box;
}

    .subForm-form{
    padding: 0;
	overflow:hidden;
    }
	
.modalForm__header{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    text-align: left;

    color: #fff;
    font-size: 18px;
	
    box-sizing: border-box;	
}

.modalForm__headerLogo{
    max-width: 50%; 
    box-sizing: border-box;
    vertical-align: top;
}    

.subForm-input-row {
    width: 50%;
    float: left;
}

.subForm-group{
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;	
}


.data-style{width:16px;height:16px;}
.subForm-input-row-center{text-align:center;}
.subForm-input {
    position: relative;
    padding: 10px 5px;
}

.error-block{

    padding: 0 5px;
    box-sizing: border-box;
    width: 100%;
	line-height:0;
    background-color: #ff0000;
    font-size: 12px;
    color: #fff;
	transition:all .3s;
	overflow:hidden;
}
.error .error-block{
	line-height:10px;
	padding: 5px 5px;
	}

.subForm-box{
	border-radius: 4px;
	text-shadow: 0 1px 0 #fff;
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
}

.subForm-input-fullrow{
	position:relative;
    width: 100%;
    float: left;
    padding: 8px 5px;
    box-sizing: border-box;
}

.subForm-input-tarea{
    width: 100%;
    box-sizing: border-box;
    resize: none;
	height:90px;
}

.subForm input[type="text"], 
.subForm-in-text 
{
    padding: 4px 6px;
    border: none;
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;

    border-radius: 3px;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    color: #444;
    text-indent: 3px;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
}

.required:before{
	position: absolute;
	content: '*';
	color: #ff0000;
	font-size: 30px;
	top: 16px;
	left: -16px;
}


.edata a{
	
	color:#4790c6;
}

.form__colum-button{
    float: left;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}

.form__colum-input{
    width: 100%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;	
}

.form__kuzov-type{
	width: 100%;
	display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;

    background-color: #4790c6;
    padding: 12px 20px;
    cursor: pointer;
    border: 0;
    margin-bottom: 1px;

}
.form__kuzov-type:focus{
	
	border:0;
	outline:0;
}
.form__kuzov-type:hover{
	
	background-color:#ff0000;
}
.check__kuzov{
    float: left;
    width: 25%;
    padding: 8px 0;
    box-sizing: border-box;
}
.form__kuzov-type.active{
	
	background-color:#ccc;
}

.form__colum-descr{
    display: inline-block;
    padding: 10px 5px;
    font-weight: bold;
}

.check__kuzov-label{
    overflow: hidden;
    display: block;
    padding-left: 10px;	
}
.check__kuzov-input{
    width: 16px;
    height: 16px;
    float: left;
}

.btn-submit{

    width: 100%;
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    font: inherit;
    color: #444;
    text-transform: none;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f7f7f7;
    vertical-align: middle;
    line-height: 32px;
    min-height: 34px;
    font-size: inherit;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;	
}
.btn-submit.disabled{
	
	background-color:#ccc;
	cursor:default;
}