.detail__compare-wrap{
	position:relative;
}

.mob__compare-btn{
	display:none;	
	top: 12px;
	left: 20px;
	right: 0;
}
.desctop__compare-btn{
    top: 0px;
    bottom: 0;
    right: 0;
    left: -37px;
    width: 35px;
    height: 20px;
    display: inline;

}
.detail__compare{
    color: #8c8c8c;
    height: 18px;
} 
.detail__compare{
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    bottom: 0;
    left: 0;
    color: #8c8c8c;
    font-size: 16px;
    margin: auto;
    padding: 0;
    background-color: transparent;
    border: 0;
    text-align: left;
}
.compare-active{text-decoration:none;}
.compare-active:hover{color:#db1c26;}

.compare-inactive{cursor:pointer;}
	
.compare-active::before,
.compare-inactive::before{
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 0;
    content: '';
    background-repeat: no-repeat;
}
	
.compare-active::before{
    background-image: url(/local/assets/img/svg-sprite/star-active.svg);	
}

.compare-inactive::before{
	background-image:url(/local/assets/img/svg-sprite/star-inactive.svg);	
	cursor:pointer;
}

.compare{
	
	font-size:16px;
	color:#ccc;
}

	
.info__credit-rouble {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-right: 21px;
}
.info__credit-rouble:after {
    content: '';
    position: absolute;
    top: 2px;
    right: -8px;
    background-image: url('/local/assets/img/svg-sprite/rub-white.svg');
    background-position: 0 0;
    width: 24px;
    height: 15px;
    background-repeat: no-repeat;
	background-size:60%;
}	

.vidos{
    padding: 0;
    display: inline-block;
    width: 100%;
}

.vidos__item {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.vidos__iframe{
    width: 100%;
    height: 327px;
}

.item__share{
	position:absolute;
	width:200px;
	height:40px;
	top:0;
	right:0;
	
	
}
.share_btn{
    position: relative;
	float:right;
    background-color: transparent;
    border: 0;
    font: 24px/30px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #363a42;
	margin-top: 6px;

	padding:0;
	
}
.share_btn:before{
	position:absolute;
	content:'';
	width:30px;
	height:30px;
	top:0;
	left:-34px;
	background-image:url(/local/assets/img/svg-sprite/share.svg);
	background-size:100%;
	background-repeat: no-repeat;
}
.share__list{
	display:none;
    position: absolute;
    width: 500px;
    height: 254px;
    top: 40px;
    right: 0;
    padding: 15px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px 6px 19px -6px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	pointer-events:all;
}

/*
@media(max-width: 500px){
    .share__list{
        width: 85vw;
    }
}*/
.share__title{
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 10px;	
}

.share__link{
    display: block;
    font-size: 20px;
    margin: 20px -15px 20px -15px;
    padding: 20px 10px 15px;
    border-top: solid 1px #e7eaec;
    border-bottom: solid 1px #e7eaec;
    color: #6b7176;
	cursor:pointer;
}

.share__copytext{
    display: inline-block;
    width: 100%;
    border: 0;
}

.share__copy{
    font-size: 18px;
    background-color: transparent;
    border: 0;
    float: right;
    color: #6b7176;
}
.share__copy:hover{
	opacity:.6;
	
}
.share_box{
	display:inline-block;
	width:100%;
	height:38px;
	overflow:hidden;
}

.share__print{
	float: left;
    display: block;
    width: 38px;
    height: 38px;
	margin-left: 4px;   
	background-image:url('/local/assets/img/svg-sprite/printt.svg');
    background-size: 76%;
    background-color: #795548;
    background-repeat: no-repeat;
    background-position: center;
	border:0;
}

.share__mail{
	float: left;
    display: block;
    width: 38px;
    height: 38px;
	margin-left: 4px;	
	background-image:url('/local/assets/img/svg-sprite/envelope.svg');
    background-size: 76%;
    background-color: #888888;
    background-repeat: no-repeat;
    background-position: center;
	border:0;
}
.share__print:hover,
.share__mail:hover{
	opacity:.8;
}

.ya-share2{float:left;height:38px;}
.ya-share2__container_size_m .ya-share2__icon{
	width:38px!important;
	height:38px!important;
	
}

.share__shadow{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;	
	background-color:transparent;
	/*background-color:rgba(0,0,0,.3);*/
	z-index:9;
	
}
/* ~~~ ~~~ ~~~*/
li.ya-share2__item.ya-share2__item_service_whatsapp{
	
	display:none;
}

/* ~~~ ~~~ ~~~*/

/*
@media screen and (max-width: 1024px){
.vidos__iframe{width: 100%;height: 327px;}	
}
*/
@media screen and (max-width: 800px){
	li.ya-share2__item.ya-share2__item_service_whatsapp{
		display:inline-block !important;
	}	
/*.mob-title {padding-top: 36px!important;}*/
.vidos__iframe{height: 240px;}
/*.desctop__compare-btn{display:none;}	*/
.mob__compare-btn{display:block;}	
}

@media screen and (max-width: 768px){
.vidos__iframe{height: 216px;}	

}

@media screen and (max-width: 659px) and (min-width: 320px) {
	.desctop__compare-btn { 
		position: relative;
		padding-left: 15px;
		display: inline-block;
	}
	.mob__compare-btn {  
		display:none;
		top: 12px;
		right: 0;
		left: auto;
	}

.desctop__compare-btn {padding-left: 25px;left: 0px;width: 15px;}

}

@media screen and (max-width: 640px){
	.vidos__iframe{height: 333px;}	
	.item__right-info{overflow:hidden;}
	.share__list {width: 426px;height: 254px;}
}

@media screen and (max-width: 480px){
	.vidos__iframe{height: 240px;}	
	.info__price .eventCalc{font-size:15px;}

	.info__credit {margin-top: 10px;}
	.order-form{padding:10px 0;}
	.share__list {width: 100%;height: 212px;}
	.share__link{font-size: 14px;padding: 10px 10px 10px;}
	.share__copy{font-size: 14px;}
	.share__title {font-size: 18px;line-height: 30px;}

	.desctop__compare-btn {padding-left: 0px;display: inline;left:-40px;}



}


@media screen and (max-width: 360px){
	.share_btn {font: 15px/30px 'RobotoLight', Helvetica, Arial, sans-serif;}
	.vidos__iframe{height: 180px;}	
	.share__link {font-size: 13px;padding: 10px 15px 10px 15px;margin: 10px -15px 10px -15px;}
	.share__list {height: 175px;}
	.item__title-text {font: 22px/30px 'RobotoLight', Helvetica, Arial, sans-serif;}
	.info__title-text.mobile {margin: 95px 0 20px;}
	.ya-share2__container_size_m .ya-share2__icon {    
			height: 28px!important;
			width: 28px!important;
			background-size: 24px 24px;
	}	
	.share__print {width: 28px;height: 28px;}
	.share__mail {width: 28px;height: 28px;background-size: 74%;}
	.share_box{height:30px;}
	.ya-share2{height:30px;}

	
}