*:focus {
    outline: none;
}

.offers-list__item-action-link{box-sizing: content-box;}

.sod_select,
.zayavka-in-text
{margin-top:3px;}

.webform__wrap{
    padding: 0px 0 40px;
    font-size: 0;
    position: relative;
    max-width: 940px;
    margin: 10px auto 0 auto;
    overflow: hidden;
    text-align:center;    
}

.modalForm__info{
    position: relative;
    font-size: 14px;
    padding: 10px 10px;
    background-color: #fff;
}

.webform__buttom{

    font: inherit;
    color: #444;
    display: inline-block;
    -moz-box-sizing: border-box;
    padding: 5px 12px;
    background: #f7f7f7;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;
}


.modalForm{
    display:none;
    position:fixed;
    width:540px;
    margin:auto;
	padding:20px 10px!important;
    z-index:25;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
}

.modalForm__heightOne{height:535px;}

.modalForm__head{
    position: relative;
    display: inline-block;
    width: auto!important;
    padding: 15px 0;
    text-align: center;
    background-color: transparent!important;
    color: #000!important;
    font-size: 18px;
}

    .cancel-white{background-image:url(/local/assets/img/cancel.svg);}
    .cancel-red{background-image:url(/local/assets/img/cancel-red.svg);}
    
    .modalForm__eventCancel{
		position: absolute;
		top: 0;
		right: 0;
		width: 51px;
		height: 51px;
		border: 0;
		background-color: transparent;
		
		background-repeat: no-repeat;
		background-position: center;
    }
	
    .modalForm__eventCancel:hover{
		opacity:.5;
		
	}  
	
.modalForm__body{
    display: inline-block;
    width:100%;
    line-height: 51px;
    text-align:center;
}

    .modalForm__row-buttons{
        float: left; 
        width: 35%;
		padding-left:10px;
        box-sizing:border-box;
     }
    
    .modalForm__row-wrap{
        float: right;
        width: 60%;
        box-sizing:border-box;
    }
    
    .modalForm__row-buttontitle{
    font-size: 18px;
    padding: 10px 10px 0;
	    color: #868484;
        
    }
    
    .modalForm__row-title{
    font-size: 18px;
    padding: 10px 10px 0;   
            color: #868484;
    }
    
    .zayavka-form{
		display:inline-block;
		padding: 10px 0;
    }
    

.zayavka-input-row {
    width: 50%;
    float: left;
}
.zayavka-input-row-center{text-align:center;}
.zayavka-input {
    position: relative;
    padding: 8px 10px;
}

.zayavka-input-fullrow{
    width: 100%;
    float: left;
    padding: 5px 10px;
    box-sizing: border-box;
}

.zayavka-input-tarea{
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.zayavka-in-text {
    padding: 5px 2%;
    border: none;
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;

    border-radius: 3px;
    -webkit-appearance: none;
    font: 13px/18px 'RobotoLight', Helvetica, Arial, sans-serif;
    color: #414446;
    text-indent: 3px;
    width: 96%;
}

.zayavka-sub-title{
    float: left;
    width: 100%;
    padding: 10px;
}


.modalform__shadow{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: .2;
}

.sod_select .sod_list_wrapper{width:242px!important;}

label.error {

    font-size: 10px;
    color: #ff0000;
    position: absolute;
    bottom: -4px;
}

div[id^="wait_comp_"]{display:none;}
/*
.winCallback{
    display:none;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:430px;
    height:51px;
    margin:auto;
	background-color: #f2f2f2!important;
    z-index:25;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
}*/


	@media only screen and (max-width:550px) {
		
        body.myWin{position:fixed;overflow:hidden}
        
		.modalForm{
			
			width:100%;
			height:100%;
			z-index:105;
		}

		.modalForm__row-buttons {

			width: 100%;
			padding-left: 5%;
			padding-right: 5%;

		}
		
		.modalForm__row-wrap {
			width: 100%;
			margin-top: 40px;
			padding-left: 5%;
			padding-right: 5%;
		}
        
        .zayavka-form {
            float:left;
            height:auto;
            padding: 10px;
            overflow-x: hidden;
            overflow-y: auto;
            box-sizing: border-box;
        }   
		
	}
	
	.carName{font-weight:bold;}
	.zayavka-form button{
		-webkit-appearance: none;
		margin: 0;
		overflow: visible;
		font: inherit;
		color: #444;
		text-transform: none;
		display: inline-block;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 12px;
		background: #f7f7f7;
		vertical-align: middle;
		line-height: 32px;
		min-height: 34px;
		font-size: inherit;
		text-decoration: none;
		text-align: center;
		border: 1px solid rgba(0, 0, 0, .2);
		border-bottom-color: rgba(0, 0, 0, .3);
		background-origin: border-box;
		background-image: -webkit-linear-gradient(top, #fff, #eee);
		background-image: linear-gradient(to bottom, #fff, #eee);
		border-radius: 4px;
		text-shadow: 0 1px 0 #fff;
	}