.auto__list-nav{
    display: block; 
    width: 940px;
    /*height: 44px;*/
    margin: auto;
	box-sizing: border-box;	
	text-align:center;
}

.btn-subscription{
  
    border: 0;
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    background: #4790c6;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}

.btn-subscription:hover{
	
	background-color:#ff0000;
}

@media screen and (max-width: 1024px) and (min-width: 320px){

	.auto__list-nav {
		width: 100%;  
		padding: 0 20px;	
		margin-bottom:40px;
	}
}

