/* --- Chronology --- */
	
    .chrono__wrap{
        position: relative;
        max-width: 940px;
        margin: 0 auto;
        padding: 70px 0 40px;
        overflow: hidden;
	}
	
	.chrono__title{
		margin-top: 0;
		text-align:center;
		font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
		margin-bottom: 40px;
	}
	
	.chrono-list{
    width: 100%;
    display: inline-block;
    overflow: hidden;
	}
	
	.chrono-list__item{
		position: relative;
		float: left;
		width: 100%;
		padding: 10px 0;
		overflow:hidden;
		background-color:#ececec;
	}
	.chrono-list__vline{
		position: absolute;
		width: 1px;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		background-color: #fff;
		z-index: 0;
	}
	
	.chrono-list__left .chrono-text{
		position: absolute;
		left: 0;
		height:100%;
		padding-right: 90px;
	}
	
	.chrono-list__right .chrono-text{
		/*float:right;
		padding-left: 90px;		*/
		
		position: absolute;
		right: 0;
		height:100%;
		padding-left: 90px;
		
		
	}	
	
	.chrono-text__wrap{

	}
	
	.chrono-text__valign{
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
	}
	
	.chrono-list__left .chrono-list__media{
		float: right;
		width: 32%;
		box-sizing: border-box;
		overflow: hidden;
		vertical-align: middle;
		display: table;
	}
	
	.chrono-list__right .chrono-list__media{
    float: left;
    width: 32%;
    box-sizing: border-box;
    overflow: hidden;	
    vertical-align: middle;
    display: table;
	}
    
	.fancybox-ChronoPopup{
		/*vertical-align: middle;*/
		width: 100%;
		display: table-cell;
	}
	
	.chrono-list__media img{
		    width: 100%;
		    vertical-align: middle;
	}

	.chrono-list__colum{
    float: left;
    width: 50%;
    min-height: 1px;
	padding: 20px 0;
    box-sizing: border-box;
	}
    
	.chrono__noimage .chrono-text,
	.chrono__noimage .chrono-list__media
	{

		min-height: 200px;		
        
	}

	
	.chrono-text{
		/*display: table;
		min-height: 200px;*/
		font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;  
		
	}
	
	.chrono__table{
    width: 100%;
    height: 100%;
    display: table;
	}
	
	
	.chrono-list__baloon{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 130px;
    height: 60px;
    margin: auto;
    border: solid 1px #fff;
    border-radius: 8px;
    text-align: center;
    font: 15px/60px 'RobotoLight', Helvetica, Arial, sans-serif;
    background-color: #fff;	
    z-index: 1;
	}
	
	
	.chrono-list__item:first-child .chrono-list__baloon:before{
		content: '';
		width: 100%;
		height: 200px;
		position: absolute;
		left: 0;
		top: -201px;
		background-color: #ececec;

	}
	
	.chrono-list__item:last-child .chrono-list__baloon:after{
		content: '';
		width: 100%;
		height: 200px;
		position: absolute;
		left: 0;
		bottom: -201px;
		background-color: #fff;

	}
	
	.chrono-list__item:nth-child(2n){
	
		background-color:#fff;
		
	}
	
	.chrono-list__item:nth-child(2n) .chrono-list__baloon{
		
		border:solid 1px #ccc;
		
	}
	
	.chrono-list__item:nth-child(2n) .chrono-list__vline{
		
		background-color:#ccc;
		
	}
	
	.chrono-list__item:nth-child(2n) .chrono-text__valign{
		
		padding-left: 0;
		
	}
	
	
	@media only screen and (max-width:1025px) {
		
		.chrono__wrap{
			max-width: 100%;
			padding:0 20px 40px 20px;
		}
	}  
		
		
	@media only screen and (max-width:800px) {
		
		.chrono-list__left .chrono-list__media {padding: 25px 0;}
		.chrono-list__right .chrono-list__media {padding: 25px 0;}
	
		

	}	
	
	@media only screen and (max-width:640px) {
		

		.chrono__title {margin-bottom: 20px;}
		
		.chrono-list__item{margin-bottom:40px;background-color:#fff}
		.chrono-list__item:last-child{margin-bottom:0px;}
		.chrono-list__item:last-child .chrono-list__baloon:after{display:none;}
		
		.chrono-list__vline{display: none;}
		.chrono-list__baloon {position: relative;border:solid 1px #ccc;}
		.chrono-list__colum {width: 100%;}
		.chrono-list__left .chrono-text {position:relative;padding-right: 0;}
		
		.chrono-list__right .chrono-text {position:relative;padding-left: 0;}
		.chrono-list__left .chrono-list__media{width: 100%;min-height:100%!important;}
		.chrono-list__right .chrono-list__media{width: 100%;min-height:100%!important;}
		.chrono-text{min-height:100%!important;}
		.chrono-text__valign{padding-left: 0;}
		.chrono__noimage .chrono-list__media{padding: 0;}
		
		.chrono-list__item:first-child .chrono-list__baloon:before{display:none;}
		
		.evo__item{margin-bottom:0;}
	
		
	}	
	
	
	