    /* --- Evolution ---*/
    
    .evo__item{
        display: inline-block;
        margin-bottom: 40px;  
		text-align: justify;		
    }
    
    .evo__item-text h2{
        display:inline-block;
        width:100%;
        text-align:center;
        margin-top: 0;
		font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    }
    
    .evo__item-text{
        
		font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;     
    }
    
    .evo__it-wrap{
        position: relative;
        max-width: 940px;
        margin: 0 auto;  
        overflow: hidden;
    }
    
    .evo__it{
        position: relative;        
        height: auto;  
    }
    
     .evo__it:first-child{margin-top: 0;}
    
    .evo_it-media{
        position: relative;
        width: 100%;   
    }
    
    .evo__it-left .evo_it-media{
        
        float:left;
		width: 100%;
    }
    
    .evo__it-right .evo_it-media{
        
        float:right;
        width: 100%;
    }
    
    .evo_it-overflow{
        width: 100%;
        height: 100%;
        overflow: hidden;
        vertical-align: middle;
        position: relative;
    }
    
    .evo_it-media img{
        width: 100%;
        height: auto;
    }    
    
    .evo__it-left{
        float: left;
		width: 48%;
        text-align: left;
    }
	
	.evo_it-title{
		position:relative;
        width:100%;
        height: 86px;   
		margin-bottom: 20px;	
	}
	
    .evo__it h2{
		
        position: absolute;
		left:0;
        bottom: 0;

		font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    }

    
    .evo__it-right{
        float: right;
		width: 48%;
        text-align: left;
    }

    .evo__it-center{
        float: left;
		width: 100%;
        text-align: left;
    }	
    .evo__it-center .evo_it-media{
        
   
     width: 48%;
	 margin:auto;
    }
	
	.evo__delimetr{
		
		float:left;
		width:100%;
		margin-top: 40px;
	}
	
	.evo__it-imgWrap{
		width: 100%;
		display: inline-block;	
	}
	
	.evo__it-bgroundImage{
    width: 100%;
    min-height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
	}
	
	.evo__mobile-show{display:none;}	
	.evo__desctop-show{display:block;}
	

	@media only screen and (max-width:1025px) {
		
		.evo__it-wrap{
			max-width: 100%;
			padding:0 20px 40px 20px;
		}	
	}
	
	@media only screen and (max-width:1000px) {
		
		.evo__it-bgroundImage {min-height: 250px;}

	}
	
	@media only screen and (max-width:800px) {
		
		.evo__it-bgroundImage {min-height: 200px;}
		
		.page-history__title{width:100%}

		
		.evo__delimetr{margin-top: 0;}	
	}	
	
	@media only screen and (max-width:640px) {
		.evo__mobile-show{display:block;}	
		.evo__desctop-show{display:none;}	
		.evo__it-bgroundImage {min-height: 200px;}		
		.evo__it{width:100%;padding-bottom:40px;}
		.evo_it-media { width: 100%;}
		.evo_it-title {height: auto;}
		.evo__it-center .evo_it-media{
			width:100%;
			padding-bottom: 70px;
		}
	}
	
	@media only screen and (max-width:500px) {
		
		.evo__it {margin-top: 0;margin-bottom: 40px;}
		.evo__it h2 {position:relative;left:0;}
		.evo_it-media { width: 100%;height:100%;}
		.evo_it-media img {position: relative;}		
	}		
	