				<!-- Your awesome content goes here -->				
				
				<div class="box-info full">
					<h2><strong>Учетные записи</strong></h2>
						
						{*<div class="data-table-toolbar">
							<div class="row">
								<div class="col-md-4">
									<form role="form">
									<input type="text" class="form-control" placeholder="Search...">
									</form>
								</div>
								<div class="col-md-8">
									<div class="toolbar-btn-action">
										<a class="btn btn-success"><i class="fa fa-plus-circle"></i> Add new</a>
										<a class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
										<a class="btn btn-primary"><i class="fa fa-refresh"></i> Update</a>
									</div>
								</div>
							</div>
						</div>*}
						
					<div class="table-responsive"><form class="save" action="/direct/save/company/">
						<table data-sortable class="table table-hover table-striped">
							<thead>
								<tr>
									<th>ID</th>
									{*<th style="width: 30px" data-sortable="false"><input type="checkbox" class="rows-check"></th>*}
									<th>Логин</th>
									<th>ФИО</th>
									<th>Email</th>
									<th>Телефон</th>
									<th>Менеджер</th>
									<th>Запросы</th>
									<th>Остаток</th>
									<th>Авто</th>
									<th>Статус</th>
								</tr>
							</thead>
							
							<tbody>
							{foreach from=$DATA.USER.ELEMENT item=ELEMENT}
								<tr>
									<td><strong{if $ELEMENT.status!=1} class="color_red"{/if}>{$ELEMENT.id}</strong><br>
									<nobr>Расход: {$ELEMENT.sum} {if !empty($DATA.CURRENCY.ID[$ELEMENT.currency].name)}{$DATA.CURRENCY.ID[$ELEMENT.currency].code}{else}y.e.{/if}</nobr><br>									
									<nobr>Показов: {$ELEMENT.show}</nobr><br>
									<nobr>Кликов: {$ELEMENT.click}</nobr><br>
									<nobr>CTR: {$ELEMENT.ctr|round:2}%</nobr><br>
									<nobr>Конверсии: {$ELEMENT.conversion|round:2}</nobr>
									</td>
									{*<td><input type="checkbox" class="rows-check"></td>*}
									<td data-toggle="tooltip" title="Кампаний: {$ELEMENT.company}. Показов: {$ELEMENT.show}. Кликов: {$ELEMENT.click}. CTR: {$ELEMENT.ctr|round:2}%"><strong><a href="{$FRAMEWORK.http_dir}/direct/index/company/param/user/{$ELEMENT.id}/">{$ELEMENT.login}</a></strong></td>
									<td>{$ELEMENT.name} {$ELEMENT.lastname}</td>
									<td><a href="mailto: {$ELEMENT.email}">{$ELEMENT.email|replace:'@':' @'}</a></td>
									<td>{$ELEMENT.phone}</td>
									<td>{if !empty($ELEMENT.MANAGER.login)}{$ELEMENT.MANAGER.login}{/if}</td>
									<td>{include file='user_limit.html'}</td>
									<td>{$ELEMENT.price|round:2} {if !empty($DATA.CURRENCY.ID[$ELEMENT.currency].name)}{$DATA.CURRENCY.ID[$ELEMENT.currency].code}{else}y.e.{/if}</td>
									<td>{if $ELEMENT.automate}Да{else}Нет{/if}</td>
									<td>{if $ELEMENT.status!=1}<font class="color_red">Выключен</font>{else}Включен{/if}</td>
								</tr>
							{/foreach}
							</tbody>
						</table>
						</form>
					</div>
					{if !empty($DATA.USER.PAGE.pages) AND $DATA.USER.PAGE.pages>1}	
					<div class="data-table-toolbar">
						<ul class="pagination">
						  <li{if $DATA.USER.PAGE.page==$DATA.USER.PAGE.first} class="disabled"{/if}><a href="{$FRAMEWORK.http_dir}/direct/index/company/param/{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}page/{$DATA.USER.PAGE.first}/">&laquo;</a></li>
						  {section name=page start=0 loop=$DATA.USER.PAGE.pages}
						  <li{if $DATA.USER.PAGE.current==$smarty.section.page.iteration} class="active"{/if}><a href="{$FRAMEWORK.http_dir}/direct/index/company/param/{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}page/{$smarty.section.page.index}/">{$smarty.section.page.iteration}</a></li>
						  {/section}
						  <li{if $DATA.USER.PAGE.page==$DATA.USER.PAGE.last} class="disabled"{/if}><a href="{$FRAMEWORK.http_dir}/direct/index/company/param/{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}page/{$DATA.USER.PAGE.last}/">&raquo;</a></li>
						</ul>
					</div>
					{/if}
				</div>
				
				
				
				
				
				<!-- End of your awesome content -->