				<!-- Your awesome content goes here -->				
				{assign var="company" value=1}
				<div class="box-info full">
					<h2><strong>Кампании</strong></h2>
					{include file='client_info.html'}
					{include file='auction_filter.html'}
						
						{*<div class="data-table-toolbar">
							<div class="row">
								<div class="col-md-4">
									<form role="form">
									<input type="text" class="form-control" placeholder="Search...">
									</form>
								</div>
								<div class="col-md-8">
									<div class="toolbar-btn-action">
										<a class="btn btn-success"><i class="fa fa-plus-circle"></i> Add new</a>
										<a class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
										<a class="btn btn-primary"><i class="fa fa-refresh"></i> Update</a>
									</div>
								</div>
							</div>
						</div>*}
					<form class="save" action="/direct/save/company/">
					<div class="table-responsive">
						<table data-sortable class="table table-hover table-striped">
							<thead>
								<tr>
									<th>ID</th>
									{*<th style="width: 30px" data-sortable="false"><input type="checkbox" class="rows-check"></th>*}
									<th>Наименование</th>	
									<th>Остаток</th>
									{include file='strategy_title.html'}
									<th data-sortable="false">Сохранить</th>
								</tr>
							</thead>
							
							<tbody>
							{foreach from=$DATA.COMPANY.ELEMENT item=ELEMENT}
								<tr>
									<td data-toggle="tooltip" title="Поиск: глубина просмотра={$ELEMENT.depth}, конверсии={$ELEMENT.conversion}, цена конверсии={$ELEMENT.cost}, стратегия: {$ELEMENT.strategy_name}. РСЯ: глубина просмотра={$ELEMENT.depth_context}, конверсия={$ELEMENT.conversion_context}, цена конверсии={$ELEMENT.cost_context}, стратегия: {$ELEMENT.context_strategy_name}, дата отчета: {$ELEMENT.report}, время синхронизации: {$ELEMENT.time}{if $ELEMENT.stop>0}, статус: остановлена по ограничению бюджета{/if}">{if !empty($ELEMENT.strategy) AND $ELEMENT.strategy!=-1 AND $ELEMENT.expire}<font class="color_red">{/if}<strong>{$ELEMENT.id}</strong></font><br>
									{if $ELEMENT.status==2}<font class="color_red">Остановлена</font><br>{/if}
									<nobr>Расход: {$ELEMENT.sum+$ELEMENT.sum_context} {if !empty($DATA.CURRENCY.ID[$ELEMENT.currency].name)}{$DATA.CURRENCY.ID[$ELEMENT.currency].code}{else}y.e.{/if}</nobr><br>
									<nobr>Показов: {$ELEMENT.show+$ELEMENT.show_context} <font title="Количество показов за время существования кампании">({$ELEMENT.show28})</font></nobr><br>
									<nobr>Кликов: {$ELEMENT.click+$ELEMENT.click_context} <font title="Количество кликов за время существования кампании">({$ELEMENT.click28})</font></nobr><br>
									<nobr>CTR: {(($ELEMENT.click+$ELEMENT.click_context)/($ELEMENT.show+$ELEMENT.show_context)*100)|round:2}% <font title="CTR за время существования кампании">({$ELEMENT.ctr28|round:2}%)</font></nobr><br>
									<nobr>Конверсии: {($ELEMENT.conversion+$ELEMENT.conversion_context)|round}</nobr><br>
									<input type="text" name="goal[{$ELEMENT.id}]" value="{if !empty($ELEMENT.goal)}{$ELEMENT.goal}{/if}" placeholder="Номер цели" size="9" class="strategy_goal" title="Номер цели из Яндекс.Метрики">
									</td>
									{*<td><input type="checkbox" class="rows-check"></td>*}
									<td><a name="{$ELEMENT.id}"></a><strong><a href="{$FRAMEWORK.http_dir}/direct/index/group/param/where/2/{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}company/{$ELEMENT.id}/">{$ELEMENT.name|replace:'_':' '}</a></strong></td>
									<td>{$ELEMENT.price|round:2} {if !empty($DATA.CURRENCY.ID[$ELEMENT.currency].name)}{$DATA.CURRENCY.ID[$ELEMENT.currency].name}{else}y.e.{/if}</td>
									{include file='strategy.html'}
									{*<td><span class="label label-success">Active</span></td>*}
									<td>
										<div class="btn-group btn-group-xs">
											
											<button title="Сохранить" class="btn btn-default"><i class="fa fa-save"></i></button>
											<a href="{$FRAMEWORK.http_dir}/direct/statistic/index/param/company/{$ELEMENT.id}/" title="Статистика" class="btn btn-default"><i class="fa fa-bar-chart-o"></i></a>
											<br>
											<center>
											{if !empty($ELEMENT.strategy) AND $ELEMENT.strategy!=-1}
											<br>{if $ELEMENT.expire}<font class="color_red">Давно не обновлялись: {else}<font class="color_yellow">Последнее обновление ставок: {/if}</font><br>
											{if $ELEMENT.expire}<font class="color_red">{/if}{if $ELEMENT.phrase_max_time}{$ELEMENT.phrase_max_time|date_format:'<strong>%H:%M</strong><br>%d.%m.%Y'}{else}не обновлялись{/if}</font>{else}<br>Не обновлять ставки{/if}
											</center>
										</div>
									</td>
								</tr>
							{/foreach}
							</tbody>
						</table>
						<br><center><button class="btn btn-default" type="submit">Сохранить {$DATA.COMPANY.PAGE.elements} из {$DATA.COMPANY.PAGE.count}</button></center><br>
					</div>
					</form>	
					{if !empty($DATA.COMPANY.PAGE.pages) AND $DATA.COMPANY.PAGE.pages>1}	
					<div class="data-table-toolbar">
						<ul class="pagination">
						  <li{if $DATA.COMPANY.PAGE.page==$DATA.COMPANY.PAGE.first} class="disabled"{/if}><a href="{$FRAMEWORK.http_dir}/direct/index/company/param/where/1/{if !empty($DATA.PARAM.status)}status/{$DATA.PARAM.status}/{/if}{if !empty($DATA.PARAM.search)}search/{$DATA.PARAM.search}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}{if !empty($DATA.PARAM.sort)}sort/{$DATA.PARAM.sort}/{/if}{if !empty($DATA.PARAM.strategy)}strategy/{$DATA.PARAM.strategy}/{/if}{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}page/{$DATA.COMPANY.PAGE.first}/">&laquo;</a></li>
						  {section name=page start=0 loop=$DATA.COMPANY.PAGE.pages}
						  <li{if $DATA.COMPANY.PAGE.current==$smarty.section.page.iteration} class="active"{/if}><a href="{$FRAMEWORK.http_dir}/direct/index/company/param/where/1/{if !empty($DATA.PARAM.status)}status/{$DATA.PARAM.status}/{/if}{if !empty($DATA.PARAM.search)}search/{$DATA.PARAM.search}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}{if !empty($DATA.PARAM.sort)}sort/{$DATA.PARAM.sort}/{/if}{if !empty($DATA.PARAM.strategy)}strategy/{$DATA.PARAM.strategy}/{/if}{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}page/{$smarty.section.page.index}/">{$smarty.section.page.iteration}</a></li>
						  {/section}
						  <li{if $DATA.COMPANY.PAGE.page==$DATA.COMPANY.PAGE.last} class="disabled"{/if}><a href="{$FRAMEWORK.http_dir}/direct/index/company/param/where/1/{if !empty($DATA.PARAM.status)}status/{$DATA.PARAM.status}/{/if}{if !empty($DATA.PARAM.search)}search/{$DATA.PARAM.search}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}{if !empty($DATA.PARAM.sort)}sort/{$DATA.PARAM.sort}/{/if}{if !empty($DATA.PARAM.strategy)}strategy/{$DATA.PARAM.strategy}/{/if}{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}page/{$DATA.COMPANY.PAGE.last}/">&raquo;</a></li>
						</ul>
					</div>
					{/if}
					
				</div>
				
				
				
				
				
				<!-- End of your awesome content -->