				<!-- Your awesome content goes here -->				
				
				<div class="box-info full">
					<h2><strong>Поисковые фразы</strong></h2>
					<table><tr><td>
					{include file='client_info.html'}
					</td>
					<td>
						<strong>{$DATA.GROUP.ELEMENT[0].name}</strong><br><u>{$DATA.GROUP.ELEMENT[0].title}</u><br>{$DATA.GROUP.ELEMENT[0].body}
					</td></tr>
					</table>
					{include file='auction_filter.html'}
					<form class="save" action="/direct/save/phrase/">	
					<div class="table-responsive">
						<table data-sortable class="table table-hover table-striped">
							<thead>
								<tr>
									<th>ID</th>
									{*<th style="width: 30px" data-sortable="false"><input type="checkbox" class="rows-check"></th>*}
									<th>Наименование</th>
									<th data-toggle="tooltip" title="Цены действующие на поиске">
											Ставка за место (Списываемая цена)&crarr;<br>
									</th>
									<th data-toggle="tooltip" title="Цены действующие на тематических площадках (РСЯ)">
											РСЯ (охват и ставка)&oplus;<br>
									</th>
									{include file='strategy_title.html'}
									<th data-sortable="false">Сохранить</th>
								</tr>
							</thead>
							
							<tbody>
							{foreach from=$DATA.PHRASE.ELEMENT item=ELEMENT}
								<tr>
									<td data-toggle="tooltip" title="Показы: {$ELEMENT.show365}, Клики: {$ELEMENT.click365} за {$DATA.CONFIG.statistic_conversion} дней. {if (!empty($ELEMENT.param1) AND $ELEMENT.param1>0) OR (!empty($ELEMENT.param2) AND $ELEMENT.param2>0) OR (!empty($ELEMENT.param3) AND $ELEMENT.param3>0)}Пользовательские параметры: param1={$ELEMENT.param1}, param2={$ELEMENT.param2}, param3={$ELEMENT.param3}.{/if}"><a name="{$ELEMENT.id}"></a>{if !empty($ELEMENT.STRATEGY.id) AND $ELEMENT.STRATEGY.id!=-1 AND $ELEMENT.expire}<font class="color_red">{/if}<strong>{$ELEMENT.id}</strong></font><br>
									{if $ELEMENT.status==2}<font class="color_red">Пауза</font><br>{/if}
									<nobr>Расход: {$ELEMENT.sum+$ELEMENT.sum_context}</nobr><br>
									<nobr>Валюта: {if !empty($DATA.CURRENCY.ID[$ELEMENT.currency].name)}{$DATA.CURRENCY.ID[$ELEMENT.currency].code}{else}y.e.{/if}</nobr><br>
									<nobr>Показов: {$ELEMENT.show+$ELEMENT.show_context} <font title="Количество показов за 28 дней">({$ELEMENT.show28+$ELEMENT.show_context28})</font></nobr><br>
									<nobr>Кликов: {$ELEMENT.click+$ELEMENT.click_context} <font title="Количество кликов за 28 дней">({$ELEMENT.click28+$ELEMENT.click_context28})</font></nobr><br>
									<nobr>CTR: {(($ELEMENT.click+$ELEMENT.click_context)/($ELEMENT.show+$ELEMENT.show_context)*100)|round:2}% <font title="CTR за 28 дней">({(($ELEMENT.click28+$ELEMENT.click_context28)/($ELEMENT.show28+$ELEMENT.show_context28)*100)|round:2})</font></nobr><br>
									{if $ELEMENT.revenue>0}<nobr>Доход: {$ELEMENT.revenue|round:2}</nobr><br>{/if}
									{if $ELEMENT.roi>0}<nobr>ROI: {$ELEMENT.roi|round:2}</nobr><br>{/if}
									<nobr>Конверсии: {$ELEMENT.conversion|round:2}</nobr>
									{if !empty($DATA.CONFIG.xml_user) AND !empty($DATA.CONFIG.xml_key)}<nobr>{if $ELEMENT.position AND (!$ELEMENT.position_value OR $ELEMENT.position_value>10)}<font class="color_red">{else}<font>{/if}Позиция:{if $ELEMENT.position} {$ELEMENT.position_value}{/if}</font> <input type="checkbox" name="position[{$ELEMENT.id}]" class="position" value="1" title="Включено"{if $ELEMENT.position} checked="checked"{/if}>{/if}
									</td>
									{*<td><input type="checkbox" class="rows-check"></td>*}
									<td{if $ELEMENT.minus} data-toggle="tooltip" title="{if !empty($ELEMENT.minus)}Минус слова: {$ELEMENT.minus}{/if}"{/if}><a href="http://yandex.ru/yandsearch?text={$ELEMENT.search}" target="_blank" title="Посмотреть поисковую выдачу Яндекс.">{$ELEMENT.phrase}</a></td>
									<td>
									<nobr><font color="#000" style="border-bottom: 1px dashed {if $ELEMENT.place<=3}#f99518{elseif $ELEMENT.place<=7}#5CB85C{else}#D10D0D{/if}"><strong>{if $ELEMENT.place<=3}<font class="color_yellow">&uarr;{elseif $ELEMENT.place<=7}<font color="#5CB85C">&darr;{else}<font class="color_red">&empty;{/if}{$ELEMENT.place}: {$ELEMENT.price|round:2} {if !empty($DATA.CURRENCY.ID[$ELEMENT.currency].name)}{$DATA.CURRENCY.ID[$ELEMENT.currency].code}{else}y.e.{/if} ({$ELEMENT.real_price})</strong></font></font></nobr><br>
									
									<nobr>{if $ELEMENT.place==1}<strong><u>{/if}<font class="color_yellow">1: {$ELEMENT.premium_max} ({$ELEMENT.price1})</font></u></strong></nobr><br>
									<nobr>{if $ELEMENT.place==2}<strong><u>{/if}<font class="color_yellow">2: {$ELEMENT.position2} ({$ELEMENT.price2})</font></u></strong></nobr><br>
									<nobr>{if $ELEMENT.place==3}<strong><u>{/if}<font class="color_yellow">3: {$ELEMENT.premium_min} ({$ELEMENT.price3})</font></u></strong></nobr><br>
									<nobr>{if $ELEMENT.place==4}<strong><u>{/if}<font class="color_green">4: {$ELEMENT.max} ({$ELEMENT.price4})</font></u></strong></nobr><br>
									<nobr>{if $ELEMENT.place==5}<strong><u>{/if}<font class="color_green">5: {$ELEMENT.position5} ({$ELEMENT.price5})</font></u></strong></nobr><br>
									<nobr>{if $ELEMENT.place==6}<strong><u>{/if}<font class="color_green">6: {$ELEMENT.position6} ({$ELEMENT.price6})</font></u></strong></nobr><br>
									<nobr>{if $ELEMENT.place==7}<strong><u>{/if}<font class="color_green">7: {$ELEMENT.min} ({$ELEMENT.price7})</font></u></strong></nobr>
									</td>
									<td>
									{if !empty($ELEMENT.context_price)}<nobr><strong>{$ELEMENT.context_place}%: {$ELEMENT.context_price|round:2} {if !empty($DATA.CURRENCY.ID[$ELEMENT.currency].name)}{$DATA.CURRENCY.ID[$ELEMENT.currency].code}{else}y.e.{/if}</strong></nobr>{/if}									
									{if !empty($ELEMENT.CONTEXT_COVERAGE)}{foreach from=$ELEMENT.CONTEXT_COVERAGE item=CONTEXT_COVERAGE}
									<br><nobr>{if $ELEMENT.context_place==$CONTEXT_COVERAGE.percent}<strong><u>{/if}{$CONTEXT_COVERAGE.percent}%: {$CONTEXT_COVERAGE.price}</u></strong></nobr>
									{/foreach}{/if}
									</td>
									{include file='strategy.html'}
									{*<td><span class="label label-success">Active</span></td>*}
									<td>
										<div class="btn-group btn-group-xs" style="width: 75px">
											{*<a data-toggle="tooltip" title="Off" class="btn btn-default"><i class="fa fa-power-off"></i></a>*}
											<button title="Сохранить" class="btn btn-default"><i class="fa fa-save"></i></button>
											<a href="{$FRAMEWORK.http_dir}/direct/statistic/index/param/phrase/{$ELEMENT.id}/" title="Статистика" class="btn btn-default"><i class="fa fa-bar-chart-o"></i></a>
											<a href="{$FRAMEWORK.http_dir}/direct/statistic/price/param/phrase/{$ELEMENT.id}/" title="Лог ставок" class="btn btn-default"><i class="fa fa-money"></i></a><br>
											<center>
											{if !empty($ELEMENT.STRATEGY.id) AND $ELEMENT.STRATEGY.id!=-1}
											<br>{if $ELEMENT.expire}<font color="#ff0000">Давно не обновлялись: {else}<font class="color_yellow">Последнее обновление ставок: {/if}</font><br>
											{if $ELEMENT.expire}<font class="color_red">{/if}{if $ELEMENT.time}{$ELEMENT.time|date_format:'<strong>%H:%M</strong><br>%d.%m.%Y'}{else}не обновлялись{/if}</font>{else}<br>Не обновлять ставки{/if}
											</center>
										</div>
									</td>
								</tr>
							{/foreach}
							</tbody>
						</table>
						<br><center><button class="btn btn-default" type="submit">Сохранить {$DATA.PHRASE.PAGE.elements} из {$DATA.PHRASE.PAGE.count}</button></center><br>
					</div></form>
						
					{if !empty($DATA.PHRASE.PAGE.pages) AND $DATA.PHRASE.PAGE.pages>1}	
					<div class="data-table-toolbar">
						<ul class="pagination">
						  <li{if $DATA.PHRASE.PAGE.page==$DATA.PHRASE.PAGE.first} class="disabled"{/if}><a href="{$FRAMEWORK.http_dir}/direct/index/phrase/param/where/3/{if !empty($DATA.PARAM.status)}status/{$DATA.PARAM.status}/{/if}{if !empty($DATA.PARAM.search)}search/{$DATA.PARAM.search}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}{if !empty($DATA.PARAM.sort)}sort/{$DATA.PARAM.sort}/{/if}{if !empty($DATA.PARAM.strategy)}strategy/{$DATA.PARAM.strategy}/{/if}{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}{if !empty($DATA.PARAM.tag)}tag/{$DATA.PARAM.tag}/{/if}{if !empty($DATA.PARAM.group)}group/{$DATA.PARAM.group}/{/if}page/{$DATA.PHRASE.PAGE.first}/">&laquo;</a></li>
						  {section name=page start=0 loop=$DATA.PHRASE.PAGE.pages}
						  <li{if $DATA.PHRASE.PAGE.current==$smarty.section.page.iteration} class="active"{/if}><a href="{$FRAMEWORK.http_dir}/direct/index/phrase/param/where/3/{if !empty($DATA.PARAM.status)}status/{$DATA.PARAM.status}/{/if}{if !empty($DATA.PARAM.search)}search/{$DATA.PARAM.search}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}{if !empty($DATA.PARAM.sort)}sort/{$DATA.PARAM.sort}/{/if}{if !empty($DATA.PARAM.strategy)}strategy/{$DATA.PARAM.strategy}/{/if}{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}{if !empty($DATA.PARAM.tag)}tag/{$DATA.PARAM.tag}/{/if}{if !empty($DATA.PARAM.group)}group/{$DATA.PARAM.group}/{/if}page/{$smarty.section.page.index}/">{$smarty.section.page.iteration}</a></li>
						  {/section}
						  <li{if $DATA.PHRASE.PAGE.page==$DATA.PHRASE.PAGE.last} class="disabled"{/if}><a href="{$FRAMEWORK.http_dir}/direct/index/phrase/param/where/3/{if !empty($DATA.PARAM.status)}status/{$DATA.PARAM.status}/{/if}{if !empty($DATA.PARAM.search)}search/{$DATA.PARAM.search}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}{if !empty($DATA.PARAM.sort)}sort/{$DATA.PARAM.sort}/{/if}{if !empty($DATA.PARAM.strategy)}strategy/{$DATA.PARAM.strategy}/{/if}{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}{if !empty($DATA.PARAM.tag)}tag/{$DATA.PARAM.tag}/{/if}{if !empty($DATA.PARAM.group)}group/{$DATA.PARAM.group}/{/if}page/{$DATA.PHRASE.PAGE.last}/">&raquo;</a></li>
						</ul>
					</div>
					{/if}
					
				</div>
				
				
				
				
				
				<!-- End of your awesome content -->