{assign var="statistic_url" value="/direct/statistic/clicks/"}{assign var="statistic_name" value="Клики"}
{if empty($DATA.PARAM.user)}
				<div class="box-info animated fadeInDown">
					<h2><strong>Средние ставки</strong></h2>
					{include file='statistic_price_filter.html'}
					<center><font class="color_pink">Необходимо выбрать хотя бы клиента</font></center>
				</div>
{else}
			
				<div class="box-info full">
					<h2><strong>Статистика</strong></h2>
						{include file='statistic_price_filter.html'}
					<form class="save" action="/direct/save/phrase/">	
					<div class="table-responsive">
						<table data-sortable class="table table-hover table-striped" id="ver_realtrue">
							<thead>
								<tr style="height: 185px;">
									<th>Наименование</th>
									<th class="color_blue vert"><span class="text_vertical"><span class="rotated-text__inner">Показы</span></span></th>										
									<th class="color_blue vert"><span class="text_vertical"><span class="rotated-text__inner">Клики</span></span></th>										
									<th class="color_blue vert"><span class="text_vertical"><span class="rotated-text__inner">CTR</span></span></th>										
									<th class="color_blue vert"><span class="text_vertical"><span class="rotated-text__inner">Расход</span></span></th>										
									<th class="color_pink vert"><span class="text_vertical"><span class="rotated-text__inner">Конверсии</span></span></th>									
									<th class="color_pink vert"><span class="text_vertical"><span class="rotated-text__inner">ROI</span></span></th>									
									<th class="color_blue vert"><span class="text_vertical"><span class="rotated-text__inner">Ставка</span></span></th>
									<th class="color_yellow" data-toggle="tooltip" title="Ставка за 1 место спецразмещения">1</th>
									<th class="color_yellow" data-toggle="tooltip" title="Ставка за 2 место спецразмещения">2</th>
									<th class="color_yellow" data-toggle="tooltip" title="Ставка за 3 место спецразмещения">3</th>
									<th class="color_green" data-toggle="tooltip" title="Ставка за 4 место гарантии">4</th>
									<th class="color_green" data-toggle="tooltip" title="Ставка за 5 место гарантии">5</th>
									<th class="color_green" data-toggle="tooltip" title="Ставка за 6 место гарантии">6</th>
									<th class="color_green" data-toggle="tooltip" title="Ставка за 7 место гарантии">7</th>
									<th class="color_pink vert"><span class="text_vertical"><span class="rotated-text__inner">Цена клика</span></span></th>									
									<th class="color_yellow" data-toggle="tooltip" title="Списываемая цена клика за 1 место спецразмещения">1</th>
									<th class="color_yellow" data-toggle="tooltip" title="Списываемая цена клика за 2 место спецразмещения">2</th>
									<th class="color_yellow" data-toggle="tooltip" title="Списываемая цена клика за 3 место спецразмещения">3</th>
									<th class="color_green" data-toggle="tooltip" title="Списываемая цена клика за 4 место гарантии">4</th>
									<th class="color_green" data-toggle="tooltip" title="Списываемая цена клика за 5 место гарантии">5</th>
									<th class="color_green" data-toggle="tooltip" title="Списываемая цена клика за 6 место гарантии">6</th>
									<th class="color_green" data-toggle="tooltip" title="Списываемая цена клика за 7 место гарантии">7</th>	
									<th class="color_gray vert"><span class="text_vertical"><span class="rotated-text__inner">Ставка РСЯ</span></span></th>	
									<th class="color_gray vert"><span class="text_vertical"><span class="rotated-text__inner">Охват РСЯ, %</span></span></th>										
									<th class="color_gray vert"><span class="text_vertical"><span class="rotated-text__inner">Ставка за 100% РСЯ</span></span></th>										
									<th class="color_pink vert" title="Средняя позиция"><span class="text_vertical"><span class="rotated-text__inner">Позиция</span></span></th>
									<th class="vert" title="Средняя позиция показа"><span class="text_vertical"><span class="rotated-text__inner">Позиция показа</span></span></th>
									<th class="vert" title="Средняя позиция клика"><span class="text_vertical"><span class="rotated-text__inner">Позиция клика</span></span></th>
									<th class="vert" title="Позиция XML"><span class="text_vertical"><span class="rotated-text__inner">Позиция XML</span></span></th>
									<th class="color_pink vert" title="Видимость, %"><span class="text_vertical"><span class="rotated-text__inner">Видимость, %</span></span></th>
								</tr>
							</thead>
							
							<tbody>
								{foreach from=$DATA.ANALIZE.ELEMENT item=ELEMENT}
									<tr>
									<td class="{if $ELEMENT.position>0 AND $ELEMENT.position<=3}color_yellow{elseif $ELEMENT.position>3}color_green{else}color_red{/if}">
									<a href="{$FRAMEWORK.http_dir}{if $DATA.PARAM.where==1}/direct/index/company/param/where/1/user/{$ELEMENT.user}/company/{$ELEMENT.company}/#{$ELEMENT.company}{elseif $DATA.PARAM.where==2}/direct/index/group/param/where/2/user/{$ELEMENT.user}/company/{$ELEMENT.company}/#{$ELEMENT.group}{else}/direct/index/phrase/param/where/3/user/{$ELEMENT.user}/company/{$ELEMENT.company}/group/{$ELEMENT.group}/#{$ELEMENT.phrase}{/if}" title="Перейти в интерфейс назначения ставок">{$ELEMENT.name}</a>
									</td>
									<td class="color_black">
									{$ELEMENT.show|round:2}
									</td>
									<td class="color_black">
									{$ELEMENT.click|round:2}
									</td>
									<td class="color_black">
									{$ELEMENT.ctr|round:2}
									</td>
									<td class="color_grey">
									{$ELEMENT.sum|round:2}
									</td>
									<td class="color_pink">
									{$ELEMENT.conversion|round:2}
									</td>
									<td class="color_pink">
									{$ELEMENT.roi|round:2}
									</td>
									<td class="{if $ELEMENT.position>0 AND $ELEMENT.position<=3}color_yellow{elseif $ELEMENT.position>3}color_green{else}color_red{/if}">
									<strong>{$ELEMENT.price|round:2}</strong>
									</td>
									<td class="color_yellow">
									{$ELEMENT.position1|round:2}
									</td>
									<td class="color_yellow">
									{$ELEMENT.position2|round:2}
									</td>
									<td class="color_yellow">
									{$ELEMENT.position3|round:2}
									</td>
									<td class="color_green">
									{$ELEMENT.position4|round:2}
									</td>
									<td class="color_green">
									{$ELEMENT.position5|round:2}
									</td>
									<td class="color_green">
									{$ELEMENT.position6|round:2}
									</td>
									<td class="color_green">
									{$ELEMENT.position7|round:2}
									</td>
									<td class="{if $ELEMENT.position>0 AND $ELEMENT.position<=3}color_yellow{elseif $ELEMENT.position>3}color_green{else}color_red{/if}">
									<strong>{$ELEMENT.real_price|round:2}</strong>
									</td>	
									<td class="color_yellow">
									{$ELEMENT.price1|round:2}
									</td>
									<td class="color_yellow">
									{$ELEMENT.price2|round:2}
									</td>
									<td class="color_yellow">
									{$ELEMENT.price3|round:2}
									</td>
									<td class="color_green">
									{$ELEMENT.price4|round:2}
									</td>
									<td class="color_green">
									{$ELEMENT.price5|round:2}
									</td>
									<td class="color_green">
									{$ELEMENT.price6|round:2}
									</td>
									<td class="color_green">
									{$ELEMENT.price7|round:2}
									</td>	
									<td class="color_grey">
									{$ELEMENT.context|round:2}
									</td>
									<td class="color_grey">
									{$ELEMENT.context_percent|round}
									</td>									
									<td class="color_grey">
									{$ELEMENT.context_max|round:2}
									</td>									
									
									<td class="{if $ELEMENT.position>0 AND $ELEMENT.position<=3}color_yellow{elseif $ELEMENT.position>3}color_green{else}color_red{/if}">
									<strong>{if $ELEMENT.position>0 AND $ELEMENT.position<=3}{$ELEMENT.position|round:1}{elseif $ELEMENT.position>3}{$ELEMENT.position|round:1}{else}{$ELEMENT.position|round:1}{/if}</strong>
									</td>
									<td class="{if $ELEMENT.position_show>0 AND $ELEMENT.position_show<=3}color_yellow{elseif $ELEMENT.position_show>3}color_green{else}color_red{/if}">
									<strong>{if $ELEMENT.position_show>0 AND $ELEMENT.position_show<=3}{$ELEMENT.position_show|round:1}{elseif $ELEMENT.position_show>3}{$ELEMENT.position_show|round:1}{else}{$ELEMENT.position_show|round:1}{/if}</strong>
									</td>
									<td class="{if $ELEMENT.position_click>0 AND $ELEMENT.position_click<=3}color_yellow{elseif $ELEMENT.position_click>3}color_green{else}color_red{/if}">
									<strong>{if $ELEMENT.position_click>0 AND $ELEMENT.position_click<=3}{$ELEMENT.position_click|round:1}{elseif $ELEMENT.position_click>3}{$ELEMENT.position_click|round:1}{else}{$ELEMENT.position_click|round:1}{/if}</strong>
									</td>
									<td class="{if $ELEMENT.position_value>0 AND $ELEMENT.position_value<=10}color_yellow{elseif $ELEMENT.position_value>10}color_green{else}color_red{/if}">
									<strong>{if $ELEMENT.position_value>0 AND $ELEMENT.position_value<=10}{$ELEMENT.position_value|round:1}{elseif $ELEMENT.position_value>10}{$ELEMENT.position_value|round:1}{else}{$ELEMENT.position_value|round:1}{/if}</strong>
									</td>
									<td class="{if $ELEMENT.position_visible>0 AND $ELEMENT.position_visible<=10}color_yellow{elseif $ELEMENT.position_visible>10}color_green{else}color_red{/if}">
									<strong>{if $ELEMENT.position_visible>0 AND $ELEMENT.position_visible<=10}{$ELEMENT.position_visible|round:1}{elseif $ELEMENT.position_visible>10}{$ELEMENT.position_visible|round:1}{else}{$ELEMENT.position_visible|round:1}{/if}</strong>
									</td>
								</tr>
								{foreachelse}
								<tr><td colspan=7 align="center">Нет записей</td></tr>
								{/foreach}
							</tbody>
						</table>
					</div></form>
					{if !empty($DATA.ANALIZE.PAGE.pages) AND $DATA.ANALIZE.PAGE.pages>1}	
					<div class="data-table-toolbar">
						<ul class="pagination">
						  <li{if $DATA.ANALIZE.PAGE.page==$DATA.ANALIZE.PAGE.first} class="disabled"{/if}><a href="{$FRAMEWORK.http_dir}/direct/statistic/index/param/{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}{if !empty($DATA.PARAM.group)}group/{$DATA.PARAM.group}/{/if}{if !empty($DATA.PARAM.phrase)}phrase/{$DATA.PARAM.phrase}/{/if}{if !empty($DATA.PARAM.date_start)}date_start/{$DATA.PARAM.date_start}/{/if}{if !empty($DATA.PARAM.where)}where/{$DATA.PARAM.where}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}{if !empty($DATA.PARAM.sort)}sort/{$DATA.PARAM.sort}/{/if}{if !empty($DATA.PARAM.place)}place/{$DATA.PARAM.place}/{/if}{if !empty($DATA.PARAM.real)}real/{$DATA.PARAM.real}/{/if}{if !empty($DATA.PARAM.price1)}price1/{$DATA.PARAM.price1}/{/if}{if !empty($DATA.PARAM.price2)}price2/{$DATA.PARAM.price2}/{/if}page/{$DATA.ANALIZE.PAGE.first}/">&laquo;</a></li>
						  {section name=page start=0 loop=$DATA.ANALIZE.PAGE.pages}
						  <li{if $DATA.ANALIZE.PAGE.current==$smarty.section.page.iteration} class="active"{/if}><a href="{$FRAMEWORK.http_dir}/direct/statistic/index/param/{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}{if !empty($DATA.PARAM.group)}group/{$DATA.PARAM.group}/{/if}{if !empty($DATA.PARAM.phrase)}phrase/{$DATA.PARAM.phrase}/{/if}{if !empty($DATA.PARAM.date_start)}date_start/{$DATA.PARAM.date_start}/{/if}{if !empty($DATA.PARAM.where)}where/{$DATA.PARAM.where}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}{if !empty($DATA.PARAM.sort)}sort/{$DATA.PARAM.sort}/{/if}{if !empty($DATA.PARAM.place)}place/{$DATA.PARAM.place}/{/if}{if !empty($DATA.PARAM.real)}real/{$DATA.PARAM.real}/{/if}{if !empty($DATA.PARAM.price1)}price1/{$DATA.PARAM.price1}/{/if}{if !empty($DATA.PARAM.price2)}price2/{$DATA.PARAM.price2}/{/if}page/{$smarty.section.page.index}/">{$smarty.section.page.iteration}</a></li>
						  {/section}
						  <li{if $DATA.ANALIZE.PAGE.page==$DATA.ANALIZE.PAGE.last} class="disabled"{/if}><a href="{$FRAMEWORK.http_dir}/direct/statistic/index/param/{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}{if !empty($DATA.PARAM.group)}group/{$DATA.PARAM.group}/{/if}{if !empty($DATA.PARAM.phrase)}phrase/{$DATA.PARAM.phrase}/{/if}{if !empty($DATA.PARAM.date_start)}date_start/{$DATA.PARAM.date_start}/{/if}{if !empty($DATA.PARAM.where)}where/{$DATA.PARAM.where}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}{if !empty($DATA.PARAM.sort)}sort/{$DATA.PARAM.sort}/{/if}{if !empty($DATA.PARAM.place)}place/{$DATA.PARAM.place}/{/if}{if !empty($DATA.PARAM.real)}real/{$DATA.PARAM.real}/{/if}{if !empty($DATA.PARAM.price1)}price1/{$DATA.PARAM.price1}/{/if}{if !empty($DATA.PARAM.price2)}price2/{$DATA.PARAM.price2}/{/if}page/{$DATA.ANALIZE.PAGE.last}/">&raquo;</a></li>
						</ul>
					</div>
					{/if}
					<br><center>{include file='statistic_export_button.html'}</center><br>
				</div>
{/if}						