    /* --- Evolution ---*/
    
    .evo__item{
        display: inline-block;
        margin-bottom: 40px;  
    }
    
    .evo__item-text h2{
        display:inline-block;
        width:100%;
        text-align:center;
        margin-top: 0;
		font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    }
    
    .evo__item-text{
        
		font: 15px/24px 'RobotoLight', Helvetica, Arial, sans-serif;     
    }
    
    .evo__it-wrap{
        position: relative;
        max-width: 940px;
        margin: 0 auto;
        padding: 0px 0 40px;
        overflow: hidden;
    }
    
    .evo__it{
        position: relative;
        width: 100%;
        height: auto;        
        margin-top: -40px;
    }
    
     .evo__it:first-child{margin-top: 0;}
    
    .evo_it-media{
        position: relative;
        width: 40%;  
        height: 276px; 
   
    }
    
    .evo__it-left .evo_it-media{
        
        float:left;
     
    }
    
    .evo__it-right .evo_it-media{
        
        float:right;
       
    }
    
    .evo_it-overflow{
        width: 100%;
        height: 100%;
        overflow: hidden;
        vertical-align: middle;
        position: relative;
    }
    
    .evo_it-media img{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }    
    
    .evo__it-left{
        float: left;
        text-align: right;
    }

    .evo__it h2{
        position: absolute;
        top: 0;
        bottom: 0;
        width:100%;
        height: 42px;
        margin: auto;
		font: 34px/38px 'RobotoLight', Helvetica, Arial, sans-serif;
    }
        
    .evo__it-left h2{         
        left: 386px;
    }
    
    .evo__it-right{
        float: right;
        text-align: left;
    }
    
    .evo__it-right h2{
        left: -386px;
    }  

	@media only screen and (max-width:800px) {
				
		.evo__it-wrap{
			max-width: 100%;
			padding:0 30px 40px 30px;
		}	
	}	
	
	@media only screen and (max-width:640px) {
		
		.evo__item-text p {text-align: left;}		
		.evo__it-left h2 { left: 300px;}
		.evo_it-media { width: 46%;}
		.evo__it-right h2 {left: -300px;}
	}
	
	@media only screen and (max-width:500px) {
		
		.evo__it {margin-top: 0;margin-bottom: 40px;}
		.evo__it h2 {position:relative;left:0;}		
		.evo__item-text p {text-align: left;}
		.evo_it-media { width: 100%;height:100%;}
		.evo_it-media img {position: relative;}

		
	}	
	
	