#API_FEX_FORM1 .uk-form input,
#API_FEX_FORM1 .uk-form select,
#API_FEX_FORM1 .uk-form textarea{ -moz-box-sizing:border-box; box-sizing:border-box; margin:0; border-radius:0; font:inherit; color:inherit }
#API_FEX_FORM1 .uk-form select{ text-transform:none }
#API_FEX_FORM1 .uk-form optgroup{ font:inherit; font-weight:700 }
#API_FEX_FORM1 .uk-form input::-moz-focus-inner{ border:0; padding:0 }
#API_FEX_FORM1 .uk-form input[type=checkbox],
#API_FEX_FORM1 .uk-form input[type=radio]{ padding:0 }
#API_FEX_FORM1 .uk-form input[type=checkbox]:not(:disabled),
#API_FEX_FORM1 .uk-form input[type=radio]:not(:disabled){ cursor:pointer }
#API_FEX_FORM1 .uk-form input:not([type]),
#API_FEX_FORM1 .uk-form input[type=text],
#API_FEX_FORM1 .uk-form textarea{ -webkit-appearance:none }
#API_FEX_FORM1 .uk-form fieldset{ border:none; margin:0; padding:0 }
#API_FEX_FORM1 .uk-form textarea{ overflow:auto; vertical-align:top }
#API_FEX_FORM1 .uk-form::-moz-placeholder{ opacity:1 }
#API_FEX_FORM1 .uk-form:invalid{ box-shadow:none }
#API_FEX_FORM1 .uk-form input:not([type=radio]):not([type=checkbox]),
#API_FEX_FORM1 .uk-form select{ vertical-align:middle }
#API_FEX_FORM1 .uk-form > :last-child{ margin-bottom:0 }
#API_FEX_FORM1 .uk-form input:not([type]),
#API_FEX_FORM1 .uk-form input[type=text],
#API_FEX_FORM1 .uk-form input[type=password],
#API_FEX_FORM1 .uk-form select,
#API_FEX_FORM1 .uk-form textarea{
	height:34px;
	max-width:100%;
	padding:4px 6px;
	background:#fff;
	color:#444;
	border:1px solid #cbcbcb;
	border-top-color:#a6a6a6;
	-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, .1) inset, 0 0 0 1px transparent;
	-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, .1) inset, 0 0 0 1px transparent;
	box-shadow:0 1px 3px 0 rgba(0, 0, 0, .1) inset, 0 0 0 1px transparent;
	-webkit-transition:box-shadow ease .3s, border ease .3s;
	-moz-transition:box-shadow ease .3s, border ease .3s;
	transition:box-shadow ease .3s, border ease .3s;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	width:100%;
	font-family:inherit;
	font-size:inherit;
	vertical-align:middle;
}
#API_FEX_FORM1 .uk-form input:not([type]):focus,
#API_FEX_FORM1 .uk-form input[type=text]:focus,
#API_FEX_FORM1 .uk-form input[type=password]:focus,
#API_FEX_FORM1 .uk-form select:focus,
#API_FEX_FORM1 .uk-form textarea:focus{
	background:#f8fbff;
	border:1px solid #4d98de;
	outline:#4d98de solid 1px;
	outline-offset:0;
	outline-color:rgba(0, 0, 0, 0);
	box-shadow:0 1px 3px 0 transparent inset, 0 0 0 1px #4d98de;
}
#API_FEX_FORM1 .uk-form input:not([type]):disabled,
#API_FEX_FORM1 .uk-form input[type=text]:disabled,
#API_FEX_FORM1 .uk-form select:disabled,
#API_FEX_FORM1 .uk-form textarea:disabled{ border-color:#ddd; background-color:#fafafa; color:#999 }
#API_FEX_FORM1 .uk-form :-ms-input-placeholder{ color:#999 !important }
#API_FEX_FORM1 .uk-form ::-moz-placeholder{ color:#999 }
#API_FEX_FORM1 .uk-form ::-webkit-input-placeholder{ color:#999 }
#API_FEX_FORM1 .uk-form :disabled:-ms-input-placeholder{ color:#999 !important }
#API_FEX_FORM1 .uk-form :disabled::-moz-placeholder{ color:#999 }
#API_FEX_FORM1 .uk-form :disabled::-webkit-input-placeholder{ color:#999 }
#API_FEX_FORM1 .uk-form legend{ width:100%; border:0; padding:0; padding-bottom:15px; font-size:18px; line-height:30px }
#API_FEX_FORM1 .uk-form legend:after{ content:""; display:block; border-bottom:1px solid #ddd; width:100% }
#API_FEX_FORM1 input:not([type]).uk-form-small,
#API_FEX_FORM1 input[type="text"].uk-form-small,
#API_FEX_FORM1 input[type="password"].uk-form-small,
#API_FEX_FORM1 select.uk-form-small,
#API_FEX_FORM1 textarea.uk-form-small{ height:25px; padding:3px; font-size:12px }
#API_FEX_FORM1 input:not([type]).uk-form-large,
#API_FEX_FORM1 input[type="text"].uk-form-large,
#API_FEX_FORM1 input[type="password"].uk-form-large,
#API_FEX_FORM1 select.uk-form-large,
#API_FEX_FORM1 textarea.uk-form-large{ height:40px; padding:8px 6px; font-size:16px }
#API_FEX_FORM1 .uk-form select[multiple],
#API_FEX_FORM1 .uk-form select[size],
#API_FEX_FORM1 .uk-form textarea{ height:auto }
#API_FEX_FORM1 .uk-form-danger{ border:1px solid; border-color:#db2822 !important; background:#fff7f8 !important; color:#d85030 !important; }
#API_FEX_FORM1 .uk-form-danger:focus{
	background:#fff;
	outline-color:#db2822;
	outline-color:rgba(0, 0, 0, 0);
	-webkit-box-shadow:0 1px 3px 0 transparent inset, 0 0 0 1px #db2822 !important;
	-moz-box-shadow:0 1px 3px 0 transparent inset, 0 0 0 1px #db2822 !important;
	box-shadow:0 1px 3px 0 transparent inset, 0 0 0 1px #db2822 !important;
}
#API_FEX_FORM1 .uk-form-success{ border:1px solid; border-color:#8ec73b !important; background:#fafff2 !important; color:#659f13 !important }
#API_FEX_FORM1 .uk-form-success:focus{ -webkit-box-shadow:0 0 2px #a6d75a, 0 2px 2px #ededed inset !important; -moz-box-shadow:0 0 2px #a6d75a, 0 2px 2px #ededed inset !important; box-shadow:0 0 2px #a6d75a, 0 2px 2px #ededed inset !important; }
#API_FEX_FORM1 .uk-form-blank{ border-color:transparent !important; border-style:dashed !important; background:none !important }
#API_FEX_FORM1 .uk-form-blank:focus{ border-color:#ddd !important }
#API_FEX_FORM1 .uk-width-1-1{ width:100%; }
#API_FEX_FORM1 .uk-form-row:after, .uk-form-row:before{ content:""; display:table }
#API_FEX_FORM1 .uk-form-row:after{ clear:both }
#API_FEX_FORM1 .uk-form-row + .uk-form-row{ margin-top:15px }
#API_FEX_FORM1 .uk-form-help-inline{ display:inline-block; margin:0 0 0 10px }
#API_FEX_FORM1 .uk-form-help-block{ margin:5px 0 0 }
#API_FEX_FORM1 .uk-form-controls label{ display:block }
#API_FEX_FORM1 .uk-form-controls .api-inline-block{ display:inline-block; margin:0 5px 5px 0 }
#API_FEX_FORM1 .uk-form-controls > :first-child{ margin-top:0 }
#API_FEX_FORM1 .uk-form-controls > :last-child{ margin-bottom:0 }
#API_FEX_FORM1 .uk-form-controls-condensed{ margin:5px 0; position:relative }
#API_FEX_FORM1 .uk-form-stacked .uk-form-label{ display:block; margin-bottom:5px; font-weight:700; text-align:left }
#API_FEX_FORM1 .uk-form-stacked .group-button .uk-form-label{ display:none }
@media (max-width:959px){
	#API_FEX_FORM1 .uk-form-horizontal .uk-form-label{ display:block; margin-bottom:5px; font-weight:700; text-align:left !important; }
	#API_FEX_FORM1 .group-button .uk-form-label{ display:none; }
}
@media (min-width:960px){
	#API_FEX_FORM1 .uk-form-horizontal .uk-form-label{ width:200px; margin-top:5px; float:left; font-weight:700;}
	#API_FEX_FORM1 .uk-form-horizontal .uk-form-controls{ margin-left:215px }
	#API_FEX_FORM1 .uk-form-horizontal .uk-form-controls-text{ padding-top:5px }
}
#API_FEX_FORM1 .uk-form-horizontal .uk-form-controls label{ width:auto !important; margin:0; padding:0; float:none; }
#API_FEX_FORM1 .uk-form-stacked .one-checkbox > *{ display:inline-block; vertical-align:top }
/**/
#API_FEX_FORM1 .uk-button::-moz-focus-inner{ border:0; padding:0 }
#API_FEX_FORM1 .uk-button{ -webkit-appearance:none; margin:0; overflow:visible; font:inherit; color:#444; text-transform:none; display:inline-block; -moz-box-sizing:border-box; box-sizing:border-box; padding:0 12px; background:#f7f7f7; vertical-align:middle; line-height:32px; min-height:34px; font-size:inherit; text-decoration:none; text-align:center; border:1px solid rgba(0, 0, 0, .2); border-bottom-color:rgba(0, 0, 0, .3); background-origin:border-box; background-image:-webkit-linear-gradient(top, #fff, #eee); background-image:linear-gradient(to bottom, #fff, #eee); border-radius:4px; text-shadow:0 1px 0 #fff }
#API_FEX_FORM1 .uk-button:not(:disabled){ cursor:pointer }
#API_FEX_FORM1 .uk-button:focus,
#API_FEX_FORM1 .uk-button:hover{ background-color:#fafafa; color:#444; outline:0; text-decoration:none; background-image:none }
#API_FEX_FORM1 .uk-button.uk-active,
#API_FEX_FORM1 .uk-button:active{ background-color:#f5f5f5; color:#444; border-color:rgba(0, 0, 0, .2); border-top-color:rgba(0, 0, 0, .3); background-image:none; box-shadow:inset 0 2px 4px rgba(0, 0, 0, .1) }
#API_FEX_FORM1 .uk-button-primary{ background-color:#009dd8; color:#fff; background-image:-webkit-linear-gradient(top, #00b4f5, #008dc5); background-image:linear-gradient(to bottom, #00b4f5, #008dc5); border-color:rgba(0, 0, 0, .2); border-bottom-color:rgba(0, 0, 0, .4); text-shadow:0 -1px 0 rgba(0, 0, 0, .2) }
#API_FEX_FORM1 .uk-button-primary:focus,
#API_FEX_FORM1 .uk-button-primary:hover{ background-color:#00aff2; color:#fff; background-image:none }
#API_FEX_FORM1 .uk-button-primary.uk-active,
#API_FEX_FORM1 .uk-button-primary:active{ background-color:#008abf; color:#fff; background-image:none; border-color:rgba(0, 0, 0, .2); border-top-color:rgba(0, 0, 0, .4); box-shadow:inset 0 2px 4px rgba(0, 0, 0, .2) }
#API_FEX_FORM1 .uk-button-success{ background-color:#82bb42; color:#fff; background-image:-webkit-linear-gradient(top, #9fd256, #6fac34); background-image:linear-gradient(to bottom, #9fd256, #6fac34); border-color:rgba(0, 0, 0, .2); border-bottom-color:rgba(0, 0, 0, .4); text-shadow:0 -1px 0 rgba(0, 0, 0, .2) }
#API_FEX_FORM1 .uk-button-success:focus,
#API_FEX_FORM1 .uk-button-success:hover{ background-color:#8fce48; color:#fff; background-image:none }
#API_FEX_FORM1 .uk-button-success.uk-active,
#API_FEX_FORM1 .uk-button-success:active{ background-color:#76b430; color:#fff; background-image:none; border-color:rgba(0, 0, 0, .2); border-top-color:rgba(0, 0, 0, .4); box-shadow:inset 0 2px 4px rgba(0, 0, 0, .2) }
#API_FEX_FORM1 .uk-button-danger{ background-color:#d32c46; color:#fff; background-image:-webkit-linear-gradient(top, #ee465a, #c11a39); background-image:linear-gradient(to bottom, #ee465a, #c11a39); border-color:rgba(0, 0, 0, .2); border-bottom-color:rgba(0, 0, 0, .4); text-shadow:0 -1px 0 rgba(0, 0, 0, .2) }
#API_FEX_FORM1 .uk-button-danger:focus,
#API_FEX_FORM1 .uk-button-danger:hover{ background-color:#e33551; color:#fff; background-image:none }
#API_FEX_FORM1 .uk-button-danger.uk-active,
#API_FEX_FORM1 .uk-button-danger:active{ background-color:#c91c37; color:#fff; background-image:none; border-color:rgba(0, 0, 0, .2); border-top-color:rgba(0, 0, 0, .4); box-shadow:inset 0 2px 4px rgba(0, 0, 0, .2) }
#API_FEX_FORM1 .uk-button:disabled{ background-color:#fafafa; color:#999; border-color:rgba(0, 0, 0, .2); background-image:none; box-shadow:none; text-shadow:0 1px 0 #fff }
#API_FEX_FORM1 .uk-button-mini{ min-height:20px; padding:0 6px; line-height:18px; font-size:11px }
#API_FEX_FORM1 .uk-button-small{ min-height:25px; padding:0 10px; line-height:23px; font-size:12px }
#API_FEX_FORM1 .uk-button-large{ min-height:40px; padding:0 15px; line-height:38px; font-size:16px; border-radius:5px }
/* CUSTOM CSS */
#API_FEX_FORM1 *:before,
#API_FEX_FORM1 *:after{ -moz-box-sizing:border-box; box-sizing:border-box; }
#API_FEX_FORM1 select option[value=""]{ color:#a9a9a9; }
#API_FEX_FORM1 .api-label{display:block;padding-right:15px}
#API_FEX_FORM1 .api-asterisk{ color:#f51f29; font-size:16px; font-weight:700; margin-left:3px }
#API_FEX_FORM1 .api-antibot{ border:0 none !important; font-size:0 !important; height:0 !important; line-height:0 !important; padding:0 !important; position:absolute !important; right:0 !important; top:0 !important; width:0 !important }
/* .api-field-success */
#API_FEX_FORM1 .api-field-error{ display:none; margin:0; background:none; color:#fff; font-size:12px; background:#ee4055; padding:1px 6px; }
#API_FEX_FORM1 .api-field-warning{ display:none; margin:0; background:none; color:#2d7091; font-size:12px; background:#ebf7fd; padding:1px 6px; }
#API_FEX_FORM1 .api-field-success{ }
/* .api-success-message */
#API_FEX_FORM1 .api-success-message{ background:#fcfcfb; padding:15px; margin:10px 0; color:#000; text-align:center; }
#API_FEX_FORM1 .api-success-message .api-title{ font-size:30px; font-weight:400; }
#API_FEX_FORM1 .api-success-message .api-text{ font-size:16px; margin:20px auto auto; }
#API_FEX_FORM1 .api-icon-load{ background:url("../images/load.gif") no-repeat 50% 50%; display:none; width:20px; height:20px; vertical-align:middle; margin-top:-3px; }
#API_FEX_FORM1 button:disabled .api-icon-load{ display:inline-block }
/* .api-h1 */
#API_FEX_FORM1 .api-h1,
#API_FEX_FORM1 .api-h2,
#API_FEX_FORM1 .api-h3,
#API_FEX_FORM1 .api-h4{ color:#2a2a2a; text-transform:uppercase; margin:0 0 30px 0; padding:0; position:relative; line-height:1; }
#API_FEX_FORM1 .api-h1{ font-size:56px; }
#API_FEX_FORM1 .api-h2{ font-size:46px; }
#API_FEX_FORM1 .api-h3{ font-size:36px; }
#API_FEX_FORM1 .api-h4{ font-size:26px; }
/* automatically generated from result_modifier.php */
#API_FEX_FORM1 .uk-form-label{text-align:left}
@media (min-width:960px){
	#API_FEX_FORM1{width:90%}
}
