@font-face{
	font-family: "HelveticaNeueR";
	src:url('fonts/HelveticaNeueCyr-Thin.otf');
}
@font-face{
	font-family: "HelveticaNeueB";
	src:url('fonts/HelveticaNeueCyr-Bold.otf');
}
@font-face{
	font-family: "HelveticaNeueM";
	src:url('fonts/HelveticaNeueCyr-Roman.otf');
}


*{margin:0; padding:0;font-family: "HelveticaNeueR","Arial",sans-serif;    letter-spacing: 1px;}
.main_layer{
	max-width:400px;
	margin:0 auto;
	padding:0 5px;
}
.block{
	margin:15px 0;
}
#map1{display:none;}
.header{
	padding:10px;
}
#logo{
	text-align:center;
}
#logo> img{
	width:70%;
	margin:0 auto;
	max-width:540px;
}
img.marker{
	width: 9% !important;
    margin-left: 5% !important;
    vertical-align: top;
    margin-top: 3% !important;
}
#logo>div{
	text-align: justify !important;
}
.phone{
	line-height:34px;vertical-align:top;
	margin-top:2%;
}
.phone a{
	color:#000;
	text-decoration:none;
}
nav{
	
}
nav ul{
	list-style:none;
	color:white;
}
nav ul>li{
	position:relative;
	background:#af2227;
	line-height:28px;
	border-bottom: solid 2px #fff;
	padding: 10px 45px 12px 5px;
	cursor:pointer;
	border-radius:9px;
	font-weight:bold;
}
nav ul>li:after{
	border: medium solid transparent;
    content: "";
    top: 35%;
    position: absolute;
    height: 0;
    width: 0px;
    border-color: #fff rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
    border-width: 11px;
    left: 90%;
}
nav ul>li:hover{
	background:#ea2526;
}
nav ul > li:last-child{
	border-bottom: none;
}
.socials_list{
	text-align:center;
}
a.soc{
	margin: 15px 2% 0;
	width:30px;
	display:inline-block;
}
a.soc img{
	width:100%;
}
.banner img{
	width:100%;
}
h2{
	text-align:center;
	font-family: "HelveticaNeueB";
	font-size: 28px;
	margin-bottom:5px;
}
.about img{
	width:100%;
}
.about p{
	font-size:14px;
	text-indent:15px;
	font-weight:bold;
	line-height: 21px;
}
p{
	margin-bottom:15px;
	text-align:justify;
}
.car_img{
	background-image: url(http://new.rdm-import.ru/local/assets/img/svg-sprite/spritef1rvxdvaemi.svg);
    background-position: -4px -600px;
    /* width: 35px; */
    height: 32px;
    padding-left: 50px;
    background-repeat: no-repeat;
    font-size: 15px;
    margin: 0 0 20px;
	font-weight:bold;
}
button{
	display: block;
    padding: 8px 12px;
    margin: 10px auto 19px;
    border: none;
    background: #bb1319;
    color: white;
    font-size: 16px;
	
}
.form {
    background: #eee;
    padding: 15px 10px;
	color:#000;
	display:none;
}
input[type="text"] {
    width: 97%;
    height: 17px;
    padding: 1%;
    margin: 10px 0;
}
textarea {
    width: 97%;
    /* height: 17px; */
    padding: 1%;
    margin: 10px 0;
    height: 100px;
}
.footer{
	background: #bb1319;
    padding: 14px 10px;
	color: white;
	text-align:center !important;
}
.footer a{
	text-decoration:none;
	color:white;
}
.full_v {
    text-decoration: none;
    color: white;
	    background: #ffffff;
    padding: 7px 12px;
    border-radius: 3px;
    color: #757575 !important;
    font-weight: bold;
    margin-top: 12px;
    display: block;
}
.inner_li{
	margin:22px 10px 0px 10px;
	color:#af2227; margin-bottom:30px;
	    border-bottom: 1px solid #af2227;
    border-right: 1px solid #af2227;
    border-left: 1px solid #af2227;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.inner_li li{
	margin: 10px;
    font-size: 13px;
    padding-left: 38px;
    background: url(img/m_pt.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: 3px;
	font-weight:bold;
	margin-bottom: 19px;
	
}
.btn_rad{
	border-radius:5px;
	width: 99%;
}
b{font-family: "HelveticaNeueM";}
.inner_li b{display:block;    font-size: 16px;letter-spacing: 1px;
    margin-bottom: 15px;}
.accordeon_slide>b{
	display:block;
	padding-left:5px;
}
iframe{width:100%;}
button#btn3,button#btn4,button#btn5,button#btn6,button#btn7 {
    background: #ea3535;
    border: 1px solid white;
    margin-top: 19px;
}
.black_layer{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	bottom:0;
	background:rgba(0,0,0,0.5);
}
.white_list{
	width: 92%;
    background: #fff;
    /* padding: 1px; */
    padding: 4%;
    /* height: 100px; */
    /* max-height: 100%; */
    height: 97%;
    overflow: scroll;
    padding-top: 3%;
	line-height: 25px;
}
.white_list ol, .white_list ul {
    margin-left: 20px;
}
.close {
    text-align: right;
    font-size: 25px;
    color: #868686;
}
span.person_sogl {
    color: #0017c5;
    text-decoration: underline;
}
