.category_list .column a {
    color: #4790c6;
    font: 16px/30px 'RobotoLight', Helvetica, Arial, sans-serif;
}
.category_list {
    margin: 40px auto 0px;
    width: 940px;
}

.category_list .column {
    column-count: 6;
    column-count: 6;
    list-style: none;
}

.category_list li {
    padding: 5px;
}
.category_list h1 {
    font: 29px/2px 'RobotoLight', Helvetica, Arial, sans-serif;
}