<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
</head>
<body>
<div style="min-width:320px;max-width:640px;margin:auto">
	<div>
		<a href="http://new.rdm-import.ru"><img src="http://new.rdm-import.ru/subscribe/logo.png" style="width:100%;max-width:320px;" /></a>		
		<a href="tel:+79039302080" style="display: inline-block;font-size: 25px;color: #000;text-decoration: none;font-family:'Arial';">+7-903-930-20-80</a>		
	</div>
	<div style="min-width:300px;max-width:640px;margin:auto;border:solid 0px">

		<h1 style="font-size: 28px;font-family:'Arial';padding:0 0 20px 0">#TEXT_HEADER#!</h1>		
			#LIST_NEWS#
	</div>
	<p style="margin-bottom:12px;font-family:Arial">#TEXT_UNSUB1#<a href="#TEXT_UNSUB#" style='color:#db1c26;font-family:Arial'>#TEXT_UNSUB2#</a></p>
</div>
</body>
</html>
